* {
  font-size: 14px;
}

a {
  cursor: pointer;
}
.inceaseHeight {
  height: 15em;
}
.decreaseHeight {
  height: 2em;
}

.navbar2 {
  font-weight: 500;
  font-size: 1em;
  margin-top: -1em;
  background-color: white;
  top: 4em !important;
  z-index: 2;
}
.dropdown-item.active,
.dropdown-item:active {
  background-color: white;
}
.dropdown-item:hover {
  color: #ff5722 !important;
}
.navbar2 .dropdown:hover > .dropdown-menu {
  display: block;
}

.navbar2 .dropdown:hover > .dropdown-menu > .dropdown-item:hover {
  color: #ff5722;
}

.navbar2 #navbarDropdown {
  margin-left: 1.5em;
  color: rgb(63, 60, 60);
}
.navbar2 #navbarDropdown:hover {
  color: #ff5722;
}
.navbar2 .hd1 {
  color: #333333;
  font-size: 1em;
}
// .navbar2 .navbar-collapse {
//   padding-bottom: 0.5em;
// }
.navbar2 #navbarDropdown:hover .hd1 {
  color: #ff5722;
}
.navbar2 .hd1:hover {
  color: #ff5722;
}
.navbar2 .clr {
  margin-right: 0.5em;
}
.navbar2 #navbarDropdown:hover i {
  color: #ff5722;
}
.disableHorizontalScroll {
  overflow: hidden;
}
// .modal-backdrop {
//   display: none;
// }

.navbar2 .mmain,
.main {
  color: #333333;
}
.experience:hover {
  color: #ff5722 !important;
  text-decoration: none;
}
#CatModal .sub {
  color: gray;
}
#CatModal {
  margin-top: 5.7em;
  margin-left: -5em;
}
#CatModal .mmain {
  font-size: 1.1em;
  font-weight: 500;
}
#CatModal i {
  font-size: 0.7em;
}
#CatModal a:hover,
i:hover {
  text-decoration: none;
  color: #ff5722;
}
/* .hd1:hover {
    z-index: 8000;
    position: relative;
  } */

/* .navbar2 #navbarDropdown span:hover {
    color: #ff5722;
  } */
.navbar2 #navbarDropdown i {
  padding-right: 0.5em;
}

// .navbar2 .home {
//   // margin-top: -0.2em;
//   font-size: 1.1em;
// }
.navbar2 ul {
  height: 2em;
}
.navbar2 .line {
  background-color: #b2b2b2;
  height: 1em;
  width: 0.05em;
  display: block;
  margin-top: 0.6em;
  margin-left: 0.5em;
}
.navbar2 .cat {
  width: 55em;
}

.navbar-collapse {
  background-color: white;
  z-index: 5000;
}
// #CatModal {
//   width: 500em !important;
// }
@media only screen and (max-width: 479px) {
  nav {
    top: 3.7em !important;
  }
}

// on link active style

.active {
  color: #ff5722;
}

.display-none {
  display: none;
}

*:lang(ar) {
  direction: rtl;
}
.foodWifi:lang(ar),
.accommodation:lang(ar) {
  margin-left: 0em !important;
}
.navbar :lang(ar) {
  margin-right: 0em !important;
}
