<nav
  class="navbar sticky-top navbar-expand-lg navbar-light navbar2"
  style="top: 4.1em; z-index: 2;"
>
  <button
    class="navbar-toggler"
    type="button"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span
      class="navbar-toggler-icon"
      (click)="isMenuCollapsed = !isMenuCollapsed"
    ></span>
  </button>

  <div
    class="collapse navbar-collapse"
    [ngbCollapse]="isMenuCollapsed"
    id="navbarSupportedContent"
  >
    <div
      style="background-color: white;"
      [ngClass]="{
        inceaseHeight: !isMenuCollapsed,
        decreaseHeight: isMenuCollapsed
      }"
    >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" style="margin-left: 1em;">
          <a
            class="nav-link hd1 home"
            routerLink="/home"
            routerLinkActive="active"
            (click)="isMenuCollapsed = true"
          >
            <i class="fas fa-home home clr"></i>
            <span class="home hd1">{{ 'secondHeader.home' | translate }}</span>
          </a>
        </li>

        <span class="line"></span>

        <!--1-->
        <!-- <li class="nav-item dropdown" style="margin-left: 1.5em;">
          <a
            id="b1"
            data-toggle="modal"
            data-target="#CatModal"
            class="nav-link"
            href="#"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            (click)="open()"
            (click)="isMenuCollapsed = true"
          >
           
            <div class="hd1">
              <i class="fas fa-bars clr"></i>
              <span class="hd1">
                {{ 'secondHeader.categories' | translate }}
              </span>
            </div>
          </a>
        </li> -->

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            routerLinkActive="active"
            (click)="goToExperiencesSubCategory('Experiences')"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            (click)="isMenuCollapsed = true"
          >
            <i class="fas fa-parachute-box"></i>
            <span class="hd1">
              <a class="mmain experience">
                {{ 'secondHeader.experience' | translate }}
              </a>
            </span>
            <!-- <span></span> -->
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <div *ngFor="let subCat of allSubCategorey">
              <a
                class="dropdown-item"
                routerLinkActive="active"
                (click)="goToExperiencesSubCategory(subCat.Name)"
                [ngClass]="{ 'display-none': subCat.Name === 'Experiences' }"
              >
                {{ subCat.Name }}
              </a>
            </div>
            <!-- <a class="dropdown-item" (click)="setsubCategoryName('Tours')"  >
            Tours
          </a>
          <a
            class="dropdown-item"
            routerLinkActive="active"
            (click)="setsubCategoryName('Outdoors & sports')"
          >
            Outdoors & sports
          </a>
          <a
            class="dropdown-item"
            routerLinkActive="active "
            (click)="setsubCategoryName('Relaxation & beauty')"
          >
            Relaxation & beauty
          </a> -->
            <!-- <a
            class="dropdown-item"
            routerLink="/experiences/attractions"
            routerLinkActive="active"
          >
            Attractions
          </a> -->

            <!-- <a
            class="dropdown-item"
            (click)="setsubCategoryName('Cultural experiences')"
          >
            Culture & workshops
          </a>
          <a
            class="dropdown-item"
            routerLinkActive="active"
            (click)="setsubCategoryName('Fun & nightlife')"
          >
            Fun & nightlife
          </a> -->
          </div>
        </li>
        <!--3-->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            (click)="isMenuCollapsed = true"
          >
            <i class="fas fa-subway"></i>
            <span class="hd1">{{ 'secondHeader.transport' | translate }}</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <!-- <a
            class="dropdown-item"
            routerLink="/transport/carRental"
            routerLinkActive="active"
          > -->
            <!-- {{ 'secondHeader.car rental' | translate }}
          </a> -->
            <!-- <a class="dropdown-item" href="#">Mainland China trains</a> -->
            <a
              class="dropdown-item"
              routerLink="/transport/europeTrains"
              routerLinkActive="active"
            >
              {{ 'secondHeader.europe trains' | translate }}
            </a>
            <!-- <a
            class="dropdown-item"
            href="../Europe train/Europe train/train.html"
          >
            
          </a> -->
            <!-- <a class="dropdown-item" href="#">Japan trains</a>
          <a class="dropdown-item" href="#">Taiwan intercity buses</a>
          <a class="dropdown-item" href="#">Europe intercity buses</a>
          <a class="dropdown-item" href="#">Thailand intercity buses</a>
          <a class="dropdown-item" href="#">Thailand ferries</a> -->
          </div>
        </li>
        <!--4-->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            (click)="isMenuCollapsed = true"
          >
            <i class="fas fa-hotel"></i>
            <span class="hd1">
              {{ 'secondHeader.accommodation' | translate }}
            </span>
          </a>
          <div
            class="dropdown-menu ml-5 accommodation"
            aria-labelledby="navbarDropdown"
          >
            <a
              class="dropdown-item"
              routerLink="/accommodation/hotels&more"
              routerLinkActive="active"
            >
              {{ 'secondHeader.hotel' | translate }}
            </a>
            <!-- <a class="dropdown-item" href="#">
            {{ 'secondHeader.staycation' | translate }}
          </a> -->
          </div>
        </li>
        <!--5-->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            (click)="isMenuCollapsed = true"
          >
            <i class="far fa-circle"></i>
            <span class="hd1">{{ 'secondHeader.more' | translate }}</span>
          </a>
          <div
            class="dropdown-menu ml-5 foodWifi"
            aria-labelledby="navbarDropdown"
          >
            <a
              class="dropdown-item"
              routerLink="/moreToExplore/food&dining"
              routerLinkActive="active"
            >
              {{ 'secondHeader.food' | translate }}
            </a>

            <a
              class="dropdown-item"
              routerLink="/moreToExplore/wifi&simcards"
              routerLinkActive="active"
            >
              {{ 'secondHeader.wifi' | translate }}
            </a>
          </div>
        </li>
        <!-- </li> -->
      </ul>
    </div>
  </div>
</nav>
