<!-- Start cover -->
<div class="all">
  <div class="firstPart">
    <div class="cover">
      <div class="text text-center">
        <h1>{{ 'help.how' | translate }}</h1>
      </div>
    </div>
  </div>
  <div class="secondPart mt-5">
    <div class="h4">{{ 'cancel.how' | translate }}</div>
    <div>
      {{ 'cancel.depend' | translate }}
    </div>
    <div class="font-weight-bold mb-2 mt-4">
      {{ 'cancel.free' | translate }}
    </div>

    <div>
      {{ 'cancel.time' | translate }}
    </div>
    <ol>
      <li>
        {{ 'cancel.go' | translate }}
      </li>
      <li>{{ 'cancel.find' | translate }}</li>
      <li>{{ 'cancel.select' | translate }}</li>
    </ol>

    <div class="font-weight-bold mb-2 mt-4">
      {{ 'cancel.conditional' | translate }}
    </div>
    <div>
      {{ 'cancel.check' | translate }}
    </div>
    <div class="font-weight-bold mb-2 mt-4">{{ 'cancel.no' | translate }}</div>
    <div>{{ 'cancel.sorry' | translate }}</div>
  </div>
</div>
