<!-- Start cover -->
<div class="all">
  <div class="firstPart">
    <div class="cover">
      <div class="text text-center">
        <h1>{{ 'about.welcome' | translate }}</h1>
        <div class="book">{{ 'about.book' | translate }}</div>
      </div>
    </div>

    <!-- Start about -->
    <div class="about container">
      <h1>{{ 'about.about' | translate }}</h1>
      <div class="font-weight-bold offer">
        {{ 'about.offer' | translate }}
      </div>
      <div class="discover mt-2">
        {{ 'about.discover' | translate }}
      </div>
    </div>
    <!-- End about -->
    <!--Start mission-->
    <div class="mission">
      <div class="text text-center pt-5">
        <h1>{{ 'about.mission' | translate }}</h1>
        <div class="font-weight-bold offer empower mt-3 mb-2">
          {{ 'about.empower' | translate }}
        </div>
        <div class="discover travel mt-4">
          {{ 'about.travel' | translate }}
        </div>
      </div>
    </div>
    <!--End mission-->
  </div>
</div>
