/* start Header */
header {
  background-image: url('/../assets/wifi/wifi.jpg');
  background-position: center;
  background-size: cover;
  height: 460px;
}
header:lang(ar) {
  background-image: url('/../assets/wifi/wifi.jpg');
  background-position: center;
  background-size: cover;
  height: 460px;
  direction: rtl;
}

.tooltip.bs-tooltip-top .arrow:before {
  border-top-color: lightgray !important;
}
/* end Header */

#dropbtn1 {
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-align: start;
  color: #999;
}

#dropbtn3 {
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-align: start;
  color: #999;
}

#dropbtn2 {
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-align: start;
  color: #999;
}
#dropbtn1:lang(ar) {
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-align: start;
  color: #999;
  direction: rtl;
}

#dropbtn3:lang(ar) {
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-align: start;
  color: #999;
  direction: rtl;
}

#dropbtn2:lang(ar) {
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-align: start;
  color: #999;
  direction: rtl;
}

@media only screen and (max-width: 900px) {
  #dropbtn1 {
    width: 150px;
  }
  .a1 {
    font-size: 10px;
    font-weight: 500;
    line-height: 18px;
    color: #424242;
  }
  #dropbtn2 {
    width: 100px;
  }

  #dropbtn3 {
    width: 100px;
  }
  .div1 {
    font-size: 10px;
    font-weight: 500;
    line-height: 18px;
  }
  .div2 {
    font-size: 10px;
    font-weight: 500;
    line-height: 18px;
  }
  .div3 {
    font-size: 10px;
    font-weight: bold;
    line-height: 1;
    color: #424242;
  }
  .div4 {
    font-size: 10px;
  }
  .p1 {
    line-height: 17px;
    font-size: 10px;
    color: #888;
  }
  .btnView {
    min-width: 40px;
    height: 40px;
    line-height: 18px;
    font-size: 10px;
    font-weight: 500;
    color: #fff;
    border-radius: 2px;
    background-color: #ff5722;
  }
}

@media only screen and (min-width: 900px) {
  #dropbtn1 {
    width: 500px;
  }
  .a1 {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: #424242;
  }
  #dropbtn2 {
    width: 200px;
  }
  #dropbtn3 {
    width: 200px;
  }
  .div3 {
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    color: #424242;
  }
  .p1 {
    line-height: 17px;
    font-size: 14px;
    color: #888;
  }
  .btnView {
    min-width: 80px;
    height: 40px;
    line-height: 23px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    border-radius: 2px;
    background-color: #ff5722;
  }
}
