<footer>
  <div class="fOne row">
    <div class="col-lg-3 col-md-12 col-sm-12 firstPr">
      <a href="#" class="col-3" (click)="goToFacebook()">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="#" class="col-3" (click)="goToTwitter()">
        <i class="fab fa-twitter"></i>
      </a>
      <!-- <a href="#" class="col-3">
        <i class="fas fa-comments"></i>
      </a> -->
      <a href="#" class="col-3" (click)="goToInstagram()">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
    <div class="col-5 secondPr">
      <div class="travel">
        {{ 'footer.discount' | translate }}
      </div>
      <div class="click">
        {{ 'footer.subscribe' | translate }}
        <a routerLink="/conditions" routerLinkActive="active" class="terms">
          {{ 'footer.terms' | translate }}
        </a>
      </div>
    </div>
    <!-- <div class="col-4 thirdPr">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="Enter your email address"
          aria-label="Recipient's username"
          aria-describedby="basic-addon2"
        />
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2">
            Subscribe
          </span>
        </div>
      </div>
    </div> -->
  </div>
  <hr class="hl" />
  <div class="fTwo row">
    <div class="col-lg-3 col-md-3 col-sm-6">
      <div class="one">&copy; {{ 'footer.rights' | translate }}</div>
      <div class="two">
        <a href="#" class="site">{{ 'footer.site' | translate }}</a>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-8 titles">
      <h6 class="d-sm-none d-md-none d-lg-block title">
        {{ 'footer.about klook' | translate }}
      </h6>
      <div>
        <a routerLink="/aboutUs">{{ 'footer.about us' | translate }}</a>
      </div>
      <!-- <div>
        <a href="#" class="d-sm-none d-md-none d-lg-block">Press Releases</a>
      </div> -->
      <div>
        <a routerLink="/blog">{{ 'footer.blog' | translate }}</a>
      </div>
      <div>
        <!-- <a href="#">careers</a> -->
      </div>
    </div>
    <!-- <div class="col-lg-2 col-md-3 part titles">
      <h6 class="d-sm-none d-md-none d-lg-block title">PARTNERSHIPS</h6>
      <div>
        <a href="#" class="d-sm-none d-md-none d-lg-block">Merchant Login</a>
      </div>
      <div>
        <a href="#" class="d-sm-none d-md-none d-lg-block">
          Affilliate Partnership
        </a>
      </div>
      <div>
        <a href="#" class="d-sm-none d-md-none d-lg-block">
          Influencer Program
        </a>
      </div>
      <div>
        <a href="#" class="d-sm-none d-md-none d-lg-block">Agent Marketplace</a>
      </div>
      <div>
        <a href="#">Klook Partners Hub</a>
      </div>
      <div>
        <a href="#">Partner With Us</a>
      </div>
    </div> -->
    <div class="col-3 d-sm-none d-md-none d-lg-block titles">
      <h6 class="title">{{ 'footer.use' | translate }}</h6>
      <div>
        <a routerLink="/conditions">{{ 'footer.terms' | translate }}</a>
      </div>
      <div>
        <a routerLink="/conditions">{{ 'footer.policy' | translate }}</a>
      </div>
      <div>
        <a routerLink="/conditions">{{ 'conditions.cookie' | translate }}</a>
      </div>
      <div>
        <a routerLink="/conditions">{{ 'conditions.bug' | translate }}</a>
      </div>
    </div>
    <div class="col-3">
      <a routerLink="/help">
        <button
          type="button"
          class="btn btn1 btn-outline-secondary"
          style="width: 14em;"
        >
          <span class="mx-5 ask">{{ 'footer.ask' | translate }}</span>
        </button>
      </a>
      <!-- <div class="pay" style="color: #72717d;">PAYMENT CHANNEL</div>
      <div class="cards">
        <div class="row">
          <img src="./../../../assets/Footer/unionPay.png" alt="unionPay" />
          <img src="./../../../assets/Footer/newVisa.png" alt="new visa" />
          <img
            src="./../../../assets/Footer/masterCard.jpg"
            alt="master card"
          />
          <img src="./../../../assets/Footer/jcb.png" alt="JCB" />
        </div>
        <div class="row">
          <img src="./../../../assets/Footer/paypal.jpg" alt="payapl" />
          <img
            src="./../../../assets/Footer/american.jpg"
            alt="american express"
          />
          <img src="./../../../assets/Footer/pay.jpg" alt="apple pay" />
          <img src="./../../../assets/Footer/Gpay.png" alt="G Pay" />
        </div>
        <div class="row">
          <img src="./../../../assets/Footer/aliPay.jpg" alt="Ali Pay" />
        </div>
      </div> -->
    </div>
  </div>
</footer>
