footer {
  height: 27em;
  background-color: #333333;
  margin-top: 0em;
}
footer .fOne {
  width: 90%;
  margin: auto;
}
footer .fOne .firstPr {
  margin-top: 3em;
}
footer .fOne .firstPr i {
  font-size: 1.5em;
  color: #999;
}
footer .fOne .firstPr i:hover {
  color: white;
}
footer .fOne div a:hover {
  text-decoration: none;
}
footer .fOne .secondPr {
  margin-top: 1.8em;
  text-align: end;
}
footer .fOne .secondPr .travel {
  color: white;
  font-weight: 400;
  font-size: 0.85em;
}
footer .fOne .secondPr .click {
  font-size: 0.75em;
  color: #999;
  margin-top: 0.8em;
}
footer .fOne .secondPr .click a {
  color: #999;
  text-decoration: underline;
  font-size: 0.95em;
}
footer .fOne .thirdPr {
  margin-top: 2.2em;
}
footer .fOne .thirdPr .form-control {
  border: 0.1em solid #ff5722;
}
footer .fOne .thirdPr .input-group {
  width: 92%;
}
footer .fOne .thirdPr .input-group-append {
  height: 2.7em;
}
footer .fOne .thirdPr .input-group-text {
  background-color: #ff5722;
  color: white;
  border: 0.1em solid transparent;
}
footer .hl {
  border-top: 0.1em solid #555;
  margin-top: 2em;
}
footer .fTwo {
  width: 90%;
  margin: auto;
  margin-top: 3em;
  padding-left: 1em;
}
footer .fTwo .one {
  color: #999;
  font-size: 0.75em;
  margin-bottom: 2.5em;
}
footer .fTwo .site {
  font-size: 0.8em;
}
footer .fTwo .two a {
  color: #999;
}
footer .fTwo .two a:hover {
  text-decoration: none;
}
footer .fTwo h6 {
  color: white;
  font-weight: 400;
}
footer .fTwo div a {
  color: #999;
  line-height: 2em;
}
footer .cards {
  margin-left: 0.7em;
  margin-top: 1em;
}
footer .cards .row img {
  margin: 0.5em;
  width: 2.7em;
  height: 1.8em;
}
footer .fTwo .btn1:hover {
  border: 0.05em solid white;
  background-color: transparent;
}
footer .fTwo .btn1:hover span {
  color: white;
}
footer .fTwo .pay {
  color: #999;
  margin-top: 2em;
  font-size: 0.9em;
}
footer .title {
  font-size: 0.9em;
}
footer .titles a {
  font-size: 0.9em;
}
footer .titles a:hover {
  text-decoration: none;
}
footer .ask {
  font-size: 1em;
}
@media only screen and (max-width: 990px) {
  .pay,
  .cards {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  footer {
    height: 20em;
  }
  footer .fOne .thirdPr,
  footer .fOne .secondPr {
    display: none;
  }
  footer .travel,
  .click {
    display: none;
  }
  footer .fOne .firstPr {
    text-align: center;
    margin-top: 1.5em;
  }

  footer .fTwo .one {
    margin-top: 0.4em;
  }
  footer .fTwo .pay,
  .cards {
    display: none;
  }
}
@media only screen and (max-width: 479px) {
  footer {
    height: 30em;
    // width: 112%;
    // width: 112%;
  }
  footer .d-sm-none {
    display: none;
  }
  footer .fTwo .col-lg-3 .one {
    margin-bottom: 0.5em;
  }
  footer .btn {
    margin-top: 1em;
    width: 10em !important;
  }
  footer .btn .mx-5 {
    margin-left: 1em !important;
    margin-right: 1em !important;
    font-size: 1em !important;
  }
}
footer:lang(ar) {
  direction: rtl;
}
@media only screen and (max-width: 753px) {
  .btn1 {
    width: 10em !important;
  }
  .btn1 .ask {
    margin-left: 1em !important;
    margin-right: 1em !important;
  }
}

@media only screen and (max-width: 575px) {
  .pay,
  .cards {
    display: none;
  }
  footer .fOne .thirdPr,
  footer .fOne .secondPr {
    display: none;
  }
  footer .travel,
  .click {
    display: none;
  }
  footer .d-sm-none {
    display: none;
  }
  footer .d-sm-none {
    display: none;
  }
  .btn1 {
    width: 8em !important;
  }
  .btn1 .ask {
    margin-left: 0.5em !important;
    margin-right: 0.5em !important;
  }
}
