/* //////////////////////////////////////////////////////// carousel /////////////////////////////////////////// */
/* Start carousel */
/* .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.centered .title {
  font-size: 5em;
  font-weight: 400;
  text-align: center;
}
.centered .discover {
  width: 100%;
  font-size: 1.5em;
  font-weight: 500;
  text-align: center;
} */
/* text over carousel */
.header-text {
  position: absolute;
  top: 28%;
  left: 1.8%;
  right: auto;
  width: 96.66666666666666%;
  color: #fff;
}

.header-text h2 {
  font-size: 40px;
}

.header-text h2 span {
  font-size: 1.5em;
  color: white;
}

.header-text h3 span {
  font-size: 1em;
  color: white;
}

// /Search/
.s007 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.s007 form {
  width: 100%;
  max-width: 790px;
  margin: 0;
}

.s007 form .inner-form .input-field {
  position: relative;
}

.s007 form .inner-form .input-field input {
  height: 100%;
  border: 0;
  background: #fff;
  display: block;
  width: 100%;
  padding: 10px 32px 10px 70px;
  font-size: 18px;
  color: #666;
  border-radius: 3px;
  height: 70px;
  color: #555;
}

.s007 form .inner-form .input-field input.placeholder {
  color: #999;
  font-size: 18px;
}

.s007 form .inner-form .input-field input:-moz-placeholder {
  color: #999;
  font-size: 18px;
}

.s007 form .inner-form .input-field input::-webkit-input-placeholder {
  color: #999;
  font-size: 18px;
}

.s007 form .inner-form .input-field input:hover,
.s007 form .inner-form .input-field input:focus {
  box-shadow: none;
  outline: 0;
}

.s007 form .inner-form .basic-search .input-field .icon-wrap {
  position: absolute;
  top: 0;
  left: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-align: center;
  align-items: center;
  width: 60px;
  height: 100%;
}

.s007 form .inner-form .basic-search .input-field .icon-wrap svg {
  width: 34px;
  height: 34px;
  fill: #ccc;
}

.s007 form .inner-form .basic-search .input-field .result-count {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: center;
  align-items: center;
  width: 110px;
  top: 0;
  right: 0;
  position: absolute;
  font-weight: bold;
  color: #555;
  height: 100%;
  font-size: 14px;
}
// /Explore/
.explore {
  border: 0.1em solid #f19d28;
  border-radius: 2em;
  background-color: rgba(241, 157, 40, 1);
  width: 37%;
  height: 3em;
  line-height: 3em;
  margin: auto;
  margin-top: 4em;
  opacity: 0.8;
}
.explore .ex,
.go {
  font-size: 1.2em;
  font-weight: 500;
  color: white;
}
.explore .brdr {
  border: 0.1em white solid;
  border-radius: 2em;
  margin-left: 2em;
  padding: 0.3em 0.5em 0.2em 0.5em;
}
.explore .brdr i {
  font-size: 0.8em;
  color: white;
}
/* End carousel */

/* ************* end of carosel ******************* */

/* ///////////////////////////////////////////////// body //////////////////////////////////////////////// */

/* +++++++++++++++++++++++++++++++++++++++++++++ left col ++++++++++++++++++++++++++++++++++++++++++++++++++ */

.vl {
  border-left: 1px solid #c5c5c5;
  height: auto;
  border-radius: 00.5em;
}
/* ++++++++++++++++++++++++++++++++++++++++++ right col +++++++++++++++++++++++++++++++++++++++++++++++++++ */
/*Start klook recommended */
.crd1 {
  /* border: 1px solid #c5c5c5   ; */
  box-shadow: 2px 2px 2px 2px #c5c5c5;
}
.crd1:hover {
  transform: translate(0, -10px);
}
.crd {
  color: #333333;
  margin-top: 30em !important;
}

.text-upon-img {
  position: absolute;
  top: 2%;
  left: 3.8%;
  right: auto;
  color: #ff5722;
}
.text-down-img {
  position: absolute;
  top: 6.5em;
  left: 3.8%;
  right: auto;
  background-color: #ff5722;
  color: white;
}
.lnk {
  color: #8eb4b4;
}
// a.lnk:hover{

// }
// a.lnk:visited{

// }
// a.lnk:active{

// }
.incred .recommend {
  /* width: 90%; */
  margin: auto;
  overflow: hidden;
  transition: 0.3s;
  margin-bottom: 5em;
}
.incred .recommend h3 {
  font-weight: bold;
  color: #333333;
  margin-left: 2.7em;
}
.incred .recommend .inc {
  margin-left: 4.4em;
  font-size: 1.1em;
}
/*Images: */
.recommend .cont {
  width: 90%;
  margin: auto;
  margin-top: 3em;
}
.recommend .images .row {
  overflow: hidden;
  margin-top: 2em;
}
.recommend .images .row .card {
  margin-right: 1em;
  height: 30em;
  margin-top: 20em !important;
}
.recommend .images .row .card a {
  color: #333333;
}
.recommend .images .row .card a:hover {
  color: #333333;
  text-decoration: none;
}
.recommend .images .row .card:hover {
  transform: translate(0, -10px);
}
.recommend .images .top_left {
  position: absolute;
  top: 8px;
  left: 16px;
}
.recommend .images .row .btns {
  display: flex;
  justify-content: space-between;
}

.recommend .images .row .btn1,
.btn2 {
  color: white;
  height: 1.5em;
  border-radius: 0.2em;
  margin-top: 6em;
  padding-bottom: 0.5em;
  font-size: 0.9em;
  font-weight: 500;
}
.recommend .images .row .btn1 {
  margin-right: 1em;
  font-weight: 500;
  background-color: #ff5722;
  border: 0.1em solid #ff5722;
}
.recommend .images .row .btn2 {
  background: linear-gradient(to right, #ff9557 0%, #ff6b3d 100%);
  border: 0.1em solid #ff9557;
}
.all:lang(ar) {
  direction: rtl;
  text-align: right;
}

/*End klook recommended */

/* //////////////////////////////////////////// end of body /////////////////////////////////////////////////// */

//   @media only screen and (max-width: 768px) {
//  /Start footer/
//  footer {
//   height: 25em;
// }
// footer .fOne .thirdPr,
// footer .fOne .secondPr {
//   display: none;
// }
// footer .travel,
// .click {
//   display: none;
// }
// footer .fOne .firstPr {
//   text-align: center;
//   margin-top: 1.5em;
// }

// footer .fTwo .one {
//   margin-top: 0.4em;
// }
// footer .fTwo .pay,
// .cards {
//   display: none;
// }

//   }

//   @media only screen and (max-width: 479px) {
//     footer {
//       height: 33em;
//     }
//     footer .d-sm-none {
//       display: none;
//     }
//     footer .fTwo .col-lg-3 .one {
//       margin-bottom: 0.5em;
//     }
//     footer .btn {
//       margin-top: 1em;
//       width: 10em !important;
//     }
//     footer .btn .mx-5 {
//       margin-left: 1em !important;
//       margin-right: 1em !important;
//       font-size: 1em !important;
//     }

//   }
@media only screen and (max-width: 1250px) {
  .text-down-img {
    top: 5.5em;
  }
}

@media only screen and (max-width: 1110px) {
  .text-down-img {
    top: 4.5em;
  }
}

@media only screen and (max-width: 1097px) {
  .crd1 {
    height: 31em;
  }
}

@media only screen and (max-width: 992px) {
  .crd1 {
    height: 35em !important;
  }
  .changeCard {
    margin-top: 6em !important;
  }
}
:host {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

.text-center {
  text-align: center;
}

.list {
  max-width: 550px;
  margin: auto;
}

li {
  margin-bottom: 5px;
}
