<nav
  class="navbar fixed-top navbar-expand-lg navbar-light justify-content-between navbar1"
>
  <div class="left">
    <a class="navbar-brand" routerLink="/home">
      <img
        class="mainLogo"
        src="./../../../assets/Navbar/Klook_Logo.jpg"
        alt="Logo"
      />
    </a>
    <!-- <a href="#"><i class="fas fa-map-marker-alt"></i></a> -->
  </div>
  <div class="right">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <!--1-->
        <li class="nav-item dropdown cntr">
          <a
            class="btn dropdown-toggle money"
            href="#"
            role="button"
            id="dropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            EGP
          </a>

          <div
            class="dropdown-menu currency"
            aria-labelledby="dropdownMenuLink"
          >
            <!--First row-->
            <div class="row">
              <h6 class="pl-4">Suggested Currencies</h6>
            </div>
            <!--Second row-->
            <div class="row">
              <!--1-->
              <div class="col-3 dropdown-item row">
                <span class="ml-3">SGD</span>
                <a href="#">Singapore Dollar</a>
              </div>
              <!--2-->
              <div class="col-3 dropdown-item row">
                <span class="ml-5">HKD</span>
                <a href="#" class="mr-5">Hong Kong Dollar</a>
              </div>
              <!--3-->
              <div class="col-3 dropdown-item">
                <span style="margin-left: 5em;">PHP</span>
                <a href="#">Philippine Peso</a>
              </div>
              <!--4-->
              <div class="col-3 dropdown-item">
                <span style="margin-left: 5em;">MYR</span>
                <a href="#">Malaysian Ringgit</a>
              </div>
            </div>
            <!--Third row-->
            <div class="row">
              <!--1-->
              <div class="col-3 dropdown-item">
                <span>TWD</span>
                <a href="#">New Taiwan Dollar</a>
              </div>
              <!--2-->
              <div class="col-3 dropdown-item">
                <span>USD</span>
                <a href="#">U.S. Dollar</a>
              </div>
              <!--3-->
              <div class="col-3 dropdown-item">
                <span>CNY</span>
                <a href="#">Chinese Yuan</a>
              </div>
              <!--4-->
              <div class="col-3 dropdown-item">
                <span>KRW</span>
                <a href="#">Korean Won</a>
              </div>
            </div>
            <br />
            <!--Fourth row-->
            <div class="row">
              <h6 class="pl-4">Other Currencies</h6>
            </div>
            <!--Fifth row-->
            <div class="row">
              <!--1-->
              <div class="col-3 dropdown-item">
                <span>AED</span>
                <a href="#">U.A.E Dirham</a>
              </div>
              <!--2-->
              <div class="col-3 dropdown-item">
                <span>AUD</span>
                <a href="#">Australian Dollar</a>
              </div>
              <!--3-->
              <div class="col-3 dropdown-item">
                <span>CAD</span>
                <a href="#">Canadian Dollar</a>
              </div>
              <!--4-->
              <div class="col-3 dropdown-item">
                <span>CHF</span>
                <a href="#">Swiss Franc</a>
              </div>
            </div>
            <!--Sixth row-->
            <div class="row">
              <!--1-->
              <div class="col-3 dropdown-item">
                <span>DKK</span>
                <a href="#">Danish Krone</a>
              </div>
              <!--2-->
              <div class="col-3 dropdown-item eg">
                <span>EGP</span>
                <a href="#" style="color: #ff5722;">Egyptian Pound</a>
              </div>
              <!--3-->
              <div class="col-3 dropdown-item">
                <span>EUR</span>
                <a href="#">Euro</a>
              </div>
              <!--4-->
              <div class="col-3 dropdown-item">
                <span>FJD</span>
                <a href="#">Fijian Dollar</a>
              </div>
            </div>
            <!--Seventh row-->
            <div class="row">
              <!--1-->
              <div class="col-3 dropdown-item">
                <span>GBP</span>
                <a href="#">British Pound</a>
              </div>
              <!--2-->
              <div class="col-3 dropdown-item">
                <span>IDR</span>
                <a href="#">Indonesian Rupiah</a>
              </div>
              <!--3-->
              <div class="col-3 dropdown-item">
                <span>INR</span>
                <a href="#">Indian Rupee</a>
              </div>
              <!--4-->
              <div class="col-3 dropdown-item">
                <span>ISK</span>
                <a href="#">Icelandic Krona</a>
              </div>
            </div>
            <!--Eighth row-->
            <div class="row">
              <!--1-->
              <div class="col-3 dropdown-item">
                <span>JOD</span>
                <a href="#">Jordanian Dinar</a>
              </div>
              <!--2-->
              <div class="col-3 dropdown-item">
                <span>JPY</span>
                <a href="#">Japanese Yen</a>
              </div>
              <!--3-->
              <div class="col-3 dropdown-item">
                <span>KHR</span>
                <a href="#">Cambodian Riel</a>
              </div>
              <!--4-->
              <div class="col-3 dropdown-item">
                <span>LAK</span>
                <a href="#">Lao Kip</a>
              </div>
            </div>
            <!--Ninth row-->
            <div class="row">
              <!--1-->
              <div class="col-3 dropdown-item">
                <span>LBP</span>
                <a href="#">Lebanese Pound</a>
              </div>
              <!--2-->
              <div class="col-3 dropdown-item">
                <span>MAD</span>
                <a href="#">Moroccan Dirham</a>
              </div>
              <!--3-->
              <div class="col-3 dropdown-item">
                <span>MGA</span>
                <a href="#">Malagasy Ariary</a>
              </div>
              <!--4-->
              <div class="col-3 dropdown-item">
                <span>MMK</span>
                <a href="#">Burmese Kyat</a>
              </div>
            </div>
            <!--Tenth row-->
            <div class="row">
              <!--1-->
              <div class="col-3 dropdown-item">
                <span>MOP</span>
                <a href="#">Macau Pataca</a>
              </div>
              <!--2-->
              <div class="col-3 dropdown-item">
                <span>MUR</span>
                <a href="#">Mauritian Rupee</a>
              </div>
              <!--3-->
              <div class="col-3 dropdown-item">
                <span>MXN</span>
                <a href="#">Mexican Peso</a>
              </div>
              <!--4-->
              <div class="col-3 dropdown-item">
                <span>NOK</span>
                <a href="#">Norwegian Krone</a>
              </div>
            </div>
            <!--Tenth row-->
            <div class="row">
              <!--1-->
              <div class="col-3 dropdown-item">
                <span>MOP</span>
                <a href="#">Macau Pataca</a>
              </div>
              <!--2-->
              <div class="col-3 dropdown-item">
                <span>MUR</span>
                <a href="#">Mauritian Rupee</a>
              </div>
              <!--3-->
              <div class="col-3 dropdown-item">
                <span>MXN</span>
                <a href="#">Mexican Peso</a>
              </div>
              <!--4-->
              <div class="col-3 dropdown-item">
                <span>NOK</span>
                <a href="#">Norwegian Krone</a>
              </div>
            </div>
            <!--Eleventh row-->
            <div class="row">
              <!--1-->
              <div class="col-3 dropdown-item">
                <span>SEK</span>
                <a href="#">Swedish Krona</a>
              </div>
              <!--2-->
              <div class="col-3 dropdown-item">
                <span>THB</span>
                <a href="#">Thai Baht</a>
              </div>
              <!--3-->
              <div class="col-3 dropdown-item">
                <span>TRY</span>
                <a href="#">Turkish Lira</a>
              </div>
              <!--4-->
              <div class="col-3 dropdown-item">
                <span>VND</span>
                <a href="#">Vietnamese Dong</a>
              </div>
            </div>
            <!--Twelfth row-->
            <div class="row">
              <!--1-->
              <div class="col-3 dropdown-item">
                <span>ZAR</span>
                <a href="#">South African Rand</a>
              </div>
            </div>
          </div>
        </li>
        <!--2-->
        <li class="nav-item dropdown app">
          <a
            class="nav-link"
            href="#"
            id="download"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="fas fa-mobile mr-1"></i>
            <span>Download app</span>
          </a>
          <div class="dropdown-menu download" aria-labelledby="download">
            <a class="dropdown-item" href="#">
              <div class="row">
                <div class="col-2 mr-2">
                  <img
                    src="./../../../assets/Navbar/logoSmall.png"
                    style="width: 3em;"
                    alt="logo"
                  />
                </div>
                <div class="col-9">
                  <h6>
                    Download Klook's Award
                    <br />
                    Winning App
                  </h6>
                  <div>
                    Enjoy EGP20.2 off your first Mobile
                    <br />
                    App booking using promo code
                    <br />
                    'mobile10'
                  </div>
                </div>
              </div>
              <hr style="margin-right: 2.5em;" />
              <div class="row">
                <div class="col-6">
                  <img
                    src="./../../../assets/Navbar/qrCode.png"
                    width="100em"
                    alt="QR Code"
                  />
                </div>
                <div class="col-6">
                  <div>
                    <img
                      src="./../../../assets/Navbar/appStore.png"
                      class="mt-3"
                      width="100em"
                      alt="App Store"
                    />
                  </div>
                  <div>
                    <img
                      src="./../../../assets/Navbar/googlePlay.png"
                      class="mt-3"
                      width="100em"
                      alt="Google Play"
                    />
                  </div>
                </div>
              </div>
            </a>
          </div>
        </li>

        <!--3-->
        <li class="nav-item">
          <a class="nav-link" routerLink="/help" routerLinkActive="active">
            <i class="far fa-question-circle mr-1"></i>
            <span>Help</span>
          </a>
        </li>
        <!--4-->
        <li class="nav-item">
          <a class="nav-link cart" href="#">
            <i class="fas fa-shopping-cart mr-1"></i>
            <span>Cart</span>
          </a>
        </li>
        <!--5-->
        <form *ngIf="isuser" class="form-inline">
          <button
            class="btn btn-sm btn-outline-secondary log"
            type="button"
            routerLink="/sign/login"
            routerLinkActive="active"
          >
            Log in
          </button>
        </form>
        <form *ngIf="!isuser" class="form-inline">
          <button
            class="btn btn-sm btn-outline-secondary log"
            (click)="logout()"
            type="button"
          >
            log out
          </button>
        </form>
        <!--6-->
        <li *ngIf="isuser" class="nav-item signup">
          <a
            class="nav-link"
            routerLink="/sign/signup"
            routerLinkActive="active"
          >
            <span>Sign up</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<hr class="sticky-top" />
