<section id="banner" class="d-flex flex-column p-4 justify-content-center row">


</section>


<div id="banner-title" class="d-flex flex-column justify-content-center  align-items-center">
    <h1 class="font-weight-bold mr-3 position-relative  relative-top-3"> Experiences </h1>
    <p>Explore attractions, tours and more in Cairo</p>
    <div class="ml-3 main mt-4 rounded-lg">

        <form class="form-inline ml-4 d-flex ">
            <div class="form-group has-search w-75 d-flex ">

                <span class="fa fa-search form-control-feedback" style="color: black;"></span>

                <input class="form-control w-100 m " type="text" placeholder="Search" aria-label="Search"
                    [(ngModel)]="searchTerm" name="inputSearch">
            </div>
            <button class="btn  btn-rounded  mbutton m ml-2  " (click)="search(searchTerm)"
                style="background-color: #ff5722;" type="submit">Search</button>
        </form>

    </div>
</div>
<!-- <app-search  [city]="city" [subCatName]="subCatName" [collectionListName] ="collectionListName"></app-search> -->



<!-- end section -->


<article id="waking-body" class=" mt-4">

    <!-- start path -->
    <section id="path" class="p-3">

        <div class="ml-4  mt-3 ">
            <span>Home</span>
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                    <path fill="currentColor" fill-rule="evenodd"
                        d="M5.646 11.646L9.293 8 5.646 4.354c-.173-.174-.192-.443-.057-.638l.057-.07c.196-.195.512-.195.708 0l4 4c.065.066.108.144.13.227l.014.084v.086c-.01.113-.058.224-.144.31l-4 4c-.196.196-.512.196-.708 0-.195-.195-.195-.511 0-.707z">
                    </path>

                </svg>
            </span>

            <!---->

            <span>Egypt</span>
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                    <path fill="currentColor" fill-rule="evenodd"
                        d="M5.646 11.646L9.293 8 5.646 4.354c-.173-.174-.192-.443-.057-.638l.057-.07c.196-.195.512-.195.708 0l4 4c.065.066.108.144.13.227l.014.084v.086c-.01.113-.058.224-.144.31l-4 4c-.196.196-.512.196-.708 0-.195-.195-.195-.511 0-.707z">
                    </path>

                </svg>
            </span>

            <!---->

            <span>{{city}}</span>
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                    <path fill="currentColor" fill-rule="evenodd"
                        d="M5.646 11.646L9.293 8 5.646 4.354c-.173-.174-.192-.443-.057-.638l.057-.07c.196-.195.512-.195.708 0l4 4c.065.066.108.144.13.227l.014.084v.086c-.01.113-.058.224-.144.31l-4 4c-.196.196-.512.196-.708 0-.195-.195-.195-.511 0-.707z">
                    </path>

                </svg>
            </span>

            <!---->

            <span>Experiences</span>
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                    <path fill="currentColor" fill-rule="evenodd"
                        d="M5.646 11.646L9.293 8 5.646 4.354c-.173-.174-.192-.443-.057-.638l.057-.07c.196-.195.512-.195.708 0l4 4c.065.066.108.144.13.227l.014.084v.086c-.01.113-.058.224-.144.31l-4 4c-.196.196-.512.196-.708 0-.195-.195-.195-.511 0-.707z">
                    </path>

                </svg>
            </span>

            <!---->

            <span>{{subCatName}}</span>
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                    <path fill="currentColor" fill-rule="evenodd"
                        d="M5.646 11.646L9.293 8 5.646 4.354c-.173-.174-.192-.443-.057-.638l.057-.07c.196-.195.512-.195.708 0l4 4c.065.066.108.144.13.227l.014.084v.086c-.01.113-.058.224-.144.31l-4 4c-.196.196-.512.196-.708 0-.195-.195-.195-.511 0-.707z">
                    </path>

                </svg>
            </span>

            <!---->

            <span style="color: gray;">{{activitesCategory }} </span>

            <!---->

        </div>

    </section>
    <!-- end path -->

    <!-- start waking body  -->

    <section class="d-flex flex-wrap ">

        <!-- start left aside -->

        <aside id="left" class="col-12 col-sm-12  col-md-12  col-lg-3 col-xl-3 ">

            <div style="overflow-y: auto; height:400px;" class="  rounded-lg p-2">
                <!-- start select -->
                <div class="mt-3 ml-2">
                    <div id="left-title" class="font-weight-bold ">Selected</div>

                    <div class="d-flex flex-wrap mb-4">
                        <div id="selected-items" class=" rounded m-2  pl-2 pr-2 pt-1 pb-1 ">
                            <span class="mr-1">{{city}}</span>
                            <!-- <svg viewBox="0 0 14 14" width="12" height="12">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M11.243 11.95a.5.5 0 10.707-.707L7.707 7l4.243-4.243a.5.5 0 10-.707-.707L7 6.293 2.757 2.05a.5.5 0 10-.707.707L6.293 7 2.05 11.243a.5.5 0 10.707.707L7 7.707l4.243 4.243z">
                                </path>
                            </svg> -->
                        </div>

                        <div id="selected-items" class=" rounded m-2  pl-2 pr-2 pt-1 pb-1">
                            <span class="mr-1">{{activitesCategory}}</span>
                            <!-- <svg viewBox="0 0 14 14" width="12" height="12">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M11.243 11.95a.5.5 0 10.707-.707L7.707 7l4.243-4.243a.5.5 0 10-.707-.707L7 6.293 2.757 2.05a.5.5 0 10-.707.707L6.293 7 2.05 11.243a.5.5 0 10.707.707L7 7.707l4.243 4.243z">
                                </path>
                            </svg> -->
                        </div>
                    </div>

                    <span id="clear-select" class="font-weight-bold"> Clear selection </span>

                    <!---->
                    <hr class="m-1 mt-4 mb-4">
                    <!---->
                    <div id="left-title" class="font-weight-bold "> Where are you going?</div>

                    <!-- start select item -->
                    <mat-tree [dataSource]="dataSourceCities" [treeControl]="treeControl">
                        <!-- This is the tree node template for leaf nodes -->

                        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                            <!-- use a disabled button to provide padding for tree leaf -->

                            <mat-radio-group class="radio-group" [(ngModel)]="cityName">
                                <mat-radio-button color="warn" class="radio-btn " (click)="setCityName(node.name)"
                                    [value]="node.name">
                                    {{node.name}}
                                </mat-radio-button>
                            </mat-radio-group>

                        </mat-tree-node>
                        <!-- This is the tree node template for expandable nodes -->
                        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                            <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name"
                                style="background-color: #fff; border: none;">
                                <mat-icon class="mat-icon-rtl-mirror">
                                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                </mat-icon>
                            </button>
                            {{node.name}}
                        </mat-tree-node>
                    </mat-tree>

                    <!-- end to select items -->

                


                    <!---->
                    <hr class="m-1 mt-4 mb-4">
                    <!---->

                </div>
                <!-- end select -->

                <!-- start category -->
                <div class="mt-3 ml-2">
                    <div id="left-title" class="font-weight-bold ">Category</div>
               



                    <!-- to select items -->
                    <mat-tree [dataSource]="dataSourceCatefories" [treeControl]="treeControl">
                        <!-- This is the tree node template for leaf nodes -->

                        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                            <!-- use a disabled button to provide padding for tree leaf -->
                            <div  [ngClass]="{'disabled':node.name === 'Experiences'  }">
                                <mat-radio-group class="radio-group" [(ngModel)]="activCatName">
                                    <mat-radio-button color="warn" class="radio-btn " (click)="setActivCategoryName(node.name)"
                                        [value]="node.name">
                                        {{node.name}}
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>


                        </mat-tree-node>
                        <!-- This is the tree node template for expandable nodes -->
                        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                            <div >
                         
                            <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name"
                                style="background-color: #fff; border: none;"
                                (click)="subCatName =node.name">
                                <mat-icon class="mat-icon-rtl-mirror">
                                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                </mat-icon>
                            </button>
                            {{node.name}}
                            </div>
                        </mat-tree-node>
                    </mat-tree>


                 

                    <!--end select items-->


                    <!-- end category -->

                </div>

            </div>

            <!-- </div> -->

        </aside>

        <!-- end left aside -->

        <!-- start right aside -->


        <aside id="right" class="  col-12 col-sm-12  col-md-12   col-lg-9 col-xl-9 mt-2">

            <div id="activity-count" class="rounded-lg mb-3 p-3 pt-1 pb-1">

                <p id="title-count" class="font-weight-bold "> {{tourList.length}} activities found</p>

                <!-- <div class="d-flex flex-wrap mt-3 justify-content-between">


                    <div class="d-flex flex-wrap ">

              

                        <div class="dropdown">

                            <div data-toggle="dropdown"
                                class=" filter-count rounded mr-2 ml-2 p-2   d-flex justify-content-between align-items-center ">

                                <span class="mr-2 ml-2 " style="font-size: 16px; color: #212121;"> EGP 0 - EGP
                                    {{priceRangeValue}}</span>
                                <span>
                                    <svg id="klk-icon-icon_navigation_chevron_down_xs" viewBox="0 0 1024 1024"
                                        width="1.3em" height="1.3em">
                                        <path
                                            d="M141.248 401.152a48 48 0 0 1 64.192-71.04l5.312 4.736L512 650.56l301.248-315.712a48 48 0 0 1 62.4-6.08l5.504 4.48a48 48 0 0 1 6.08 62.4l-4.48 5.504-336 352a48 48 0 0 1-64 4.928l-5.504-4.928-336-352z"
                                            style="fill: #999;"></path>
                                    </svg>
                                </span>

                            </div>

                            <div class="dropdown-menu ">
                                <span> EGP 0 - EGP {{priceRangeValue}} </span>
                                <mat-slider min="priceRangeMin" max="priceRangeMax" step="1" value="priceRangeValue"
                                    color="warn" [(ngModel)]="priceRangeValue"></mat-slider>
                            </div>
                        </div>

                    


                    </div>


                    


                </div> -->

            </div>



            <!-- activities  -->
            <section>

                <!-- <pre *ngFor="let tourr of jsoon"> -->
                <!-- { -->
                <!-- ssss -->
                <!-- "Booked": "{{tourr.Booked}}", -->
                <!-- "Categories": "{{tourr.Categories}}", -->
                <!-- "City1": "{{tourr.City1}}", -->
                <!-- "Image": "{{tourr.Image}}", -->
                <!-- "name": "{{tourr.name}}", -->
                <!-- "Image1": "{{tourr.Image1}}",
         "Distance": "{{tourr.Distance}}" -->
                <!--"Price": "{{tourr.Price}}",
        "Rate": "{{tourr.Rate}}",
        "Review": "{{tourr.Review}}",
        "Section": "{{tourr.Section}}",
        "Title": "{{tourr.Title}}",
        "TourDiscount": "{{tourr.TourDiscount}}",
        "TourSectionInner": "{{tourr.TourSectionInner}}", -->
                <!-- llllll -->
                <!-- }, -->
                <!-- </pre> -->
                <div class="row m-2 mt-3">


                    <div *ngIf="tourList.length > 0; then thenBlock else elseBlock"></div>
                    <ng-template #thenBlock>
                        <a id="card-link" *ngFor="let tour of tourList"
                         (click) = "viewDetails(tour.id,'ToursCollection')"
                            class=" col-12 col-sm-12  col-md-12   col-lg-4 col-xl-4 mt-4">
                            <div  id =" cat-card " class=" card p-2 m-2" *ngIf="tour.Section !== 'Nearby'">
                                <img class="card-img-top" src={{tour.Image}} alt="Card image"
                                    style="filter: brightness(0.8);">
                                <div class="card-img-overlay d-flex flex-column justify-content-between">

                                    <div id="location" class="d-flex   p-2  m-1 col-1 " style="color: #fff;">
                                        <i class="fas fa-map-marker-alt mt-1 mr-2 "></i>
                                        <p> {{tour.City}} </p>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title font-weight-bold" style="font-size: medium;">{{tour.Title}}
                                    </h4>
                                    <p class="card-text" style="color:  #a0a0a0;">{{tour.Booked}}</p>
                                    <div class="d-flex">
                                        <h4 class="card-text font-weight-bold " style="font-size: medium;">
                                            {{tour.Price}}
                                        </h4>
                                        <svg class="ml-1" viewBox="0 0 24 24" width="20" height="20">
                                            <path fill="#FF5722" fill-rule="evenodd"
                                                d="M13.612 2.327L4.29 12.14c-.4.42-.383 1.085.038 1.484.195.186.454.29.723.29h5.608a.35.35 0 01.328.471l-2.309 6.197a1.05 1.05 0 001.746 1.09l9.323-9.814a1.05 1.05 0 00-.762-1.774h-5.607a.35.35 0 01-.328-.471l2.309-6.197a1.05 1.05 0 00-1.746-1.09z">
                                            </path>
                                        </svg>
                                    </div>
                                    <p class="card-text" style="color:  #a0a0a0;"> {{tour.Date}}</p>
                                </div>
                            </div>
                        </a>

                    </ng-template>
                    <ng-template #elseBlock>
                        <div class=" d-flex flex-column align-items-center justify-content-center mt-3"
                            style="width: 100%;">
                            <img src="../../../assets/NotFound/search_noResult.webp"
                                class="col-12 col-sm-12  col-md-12   col-lg-4 col-xl-4 mt-5">
                            <p style="font-size: medium;">Sorry, we can't find this activity in {{subCatName}} ({{activitesCategory}}) in
                                {{city}}</p>
                        </div>
                    </ng-template>

                </div>
            </section>




        </aside>
        <!-- end right aside -->

    </section>


    <!-- end waking body -->





</article>