<div class="all">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-12 left">
        <div
          class="nav flex-column nav-pills"
          id="v-pills-tab"
          role="tablist"
          aria-orientation="vertical"
        >
          <a
            class="nav-link active mt-2"
            id="v-pills-home-tab"
            data-toggle="pill"
            href="#v-pills-home"
            role="tab"
            aria-controls="v-pills-home"
            aria-selected="true"
          >
            {{ 'conditions.use' | translate }}
          </a>
          <a
            class="nav-link"
            id="v-pills-profile-tab"
            data-toggle="pill"
            href="#v-pills-profile"
            role="tab"
            aria-controls="v-pills-profile"
            aria-selected="false"
          >
            {{ 'conditions.privacy' | translate }}
          </a>
          <a
            class="nav-link"
            id="v-pills-messages-tab"
            data-toggle="pill"
            href="#v-pills-messages"
            role="tab"
            aria-controls="v-pills-messages"
            aria-selected="false"
          >
            {{ 'conditions.cookie' | translate }}
          </a>
          <a
            class="nav-link"
            id="v-pills-settings-tab"
            data-toggle="pill"
            href="#v-pills-settings"
            role="tab"
            aria-controls="v-pills-settings"
            aria-selected="false"
          >
            {{ 'conditions.price' | translate }}
          </a>
          <a
            class="nav-link"
            id="v-pills-bug-tab"
            data-toggle="pill"
            href="#v-pills-bug"
            role="tab"
            aria-controls="v-pills-bug"
            aria-selected="false"
          >
            {{ 'conditions.bug' | translate }}
          </a>
        </div>
      </div>
      <div class="col-lg-9 col-sm-12">
        <div class="tab-content" id="v-pills-tabContent">
          <div
            class="tab-pane fade show active"
            id="v-pills-home"
            role="tabpanel"
            aria-labelledby="v-pills-home-tab"
          >
            <div class="h3 terms">{{ 'conditions.terms' | translate }}</div>
            <hr />
            <!--1-->
            <div class="font-weight-bold mt-2">
              {{ 'conditions.agree' | translate }}
            </div>
            <div class="points">
              {{ 'conditions.agreeOne' | translate }}
            </div>
            <!--2-->
            <div class="font-weight-bold mt-2">
              {{ 'conditions.change' | translate }}
            </div>
            <div class="points">{{ 'conditions.changeOne' | translate }}</div>
            <div class="subPoints mb-3">
              {{ 'conditions.changeOneFirst' | translate }}
            </div>
            <div class="subPoints mb-3">
              {{ 'conditions.changeOneSecond' | translate }}
            </div>
            <div class="subPoints mb-3">
              {{ 'conditions.changeOneThird' | translate }}
            </div>
            <!--3-->
            <div class="font-weight-bold mt-2">
              {{ 'conditions.access' | translate }}
            </div>
            <div class="points">{{ 'conditions.accessOne' | translate }}</div>
            <div class="subPoints mb-3">
              {{ 'conditions.accessOneFirst' | translate }}
            </div>
            <div class="points">
              {{ 'conditions.accessTwo' | translate }}
            </div>
            <div class="subPoints mb-3">
              {{ 'conditions.accessTwoFirst' | translate }}
            </div>
            <div class="subPoints mb-3">
              {{ 'conditions.accessTwoSecond' | translate }}
            </div>
            <div class="subPoints mb-3">
              {{ 'conditions.accessTwoThird' | translate }}
            </div>
            <!--4-->
            <div class="font-weight-bold mt-2">
              {{ 'conditions.content' | translate }}
            </div>
            <div class="points">{{ 'conditions.contentOne' | translate }}</div>
            <div class="subPoints mb-3">
              {{ 'conditions.contentOneFirst' | translate }}
            </div>
            <div class="subPoints mb-3">
              {{ 'conditions.contentOneSecond' | translate }}
            </div>
            <div class="subPoints mb-3">
              {{ 'conditions.contentOneThird' | translate }}
            </div>
            <div class="points">
              {{ 'conditions.contentTwo' | translate }}
            </div>
            <div class="subPoints mb-3">
              {{ 'conditions.contentTwoFirst' | translate }}
            </div>
            <div class="subPoints mb-3">
              {{ 'conditions.contentTwoSecond' | translate }}
            </div>
            <div class="points">
              {{ 'conditions.contentThree' | translate }}
            </div>
            <div class="subPoints mb-3">
              {{ 'conditions.contentThreeFirst' | translate }}
            </div>
            <!--5-->
            <div class="font-weight-bold mt-2">
              {{ 'conditions.property' | translate }}
            </div>
            <div class="points">{{ 'conditions.propertyOne' | translate }}</div>
            <div class="subPoints mb-3">
              {{ 'conditions.propertyOneFirst' | translate }}
            </div>
            <!--6-->
            <div class="font-weight-bold mt-2">
              {{ 'conditions.submissions' | translate }}
            </div>
            <div class="points">
              {{ 'conditions.submissionOne' | translate }}
            </div>
            <div class="subPoints mb-3">
              {{ 'conditions.submissionOneFirst' | translate }}
            </div>
            <!--7-->
            <div class="font-weight-bold mt-2">
              {{ 'conditions.representations' | translate }}
            </div>
            <div class="points">
              {{ 'conditions.representationsOne' | translate }}
            </div>
            <div class="subPoints mb-3">
              {{ 'conditions.representationsOneFirst' | translate }}
            </div>
            <div class="points">
              {{ 'conditions.representationsTwo' | translate }}
            </div>
            <div class="subPoints mb-3">
              {{ 'conditions.representationsTwoFirst' | translate }}
            </div>
            <div class="points">
              {{ 'conditions.representationsThree' | translate }}
            </div>
            <div class="subPoints mb-3">
              {{ 'conditions.representationsThreeFirst' | translate }}
            </div>
            <div class="subPoints mb-3">
              {{ 'conditions.representationsThreeSecond' | translate }}
            </div>
            <div class="subPoints mb-3">
              {{ 'conditions.representationsThreeThird' | translate }}
            </div>
            <div class="subPoints mb-3">
              {{ 'conditions.representationsThreeFourth' | translate }}
            </div>
            <!--8-->
            <div class="font-weight-bold mt-2">
              {{ 'conditions.contact' | translate }}
            </div>
            <div class="points">
              {{ 'conditions.contactOne' | translate }}
            </div>
            <div class="font-italic mt-3">
              {{ 'conditions.update' | translate }}
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="v-pills-profile"
            role="tabpanel"
            aria-labelledby="v-pills-profile-tab"
          >
            <div class="h3 terms">
              {{ 'conditions.privacyPolicy' | translate }}
            </div>
            <hr />
            <div class="mb-3">
              {{ 'conditions.protect' | translate }}
            </div>
            <div class="mb-3">
              {{ 'conditions.collect' | translate }}
            </div>
            <div class="mb-3">
              {{ 'conditions.policy' | translate }}
            </div>
            <div class="mb-3">
              <span class="font-weight-bold">
                {{ 'conditions.read' | translate }}
              </span>
              <span>
                {{ 'conditions.visit' | translate }}
              </span>
            </div>
            <div class="font-weight-bold mt-2">
              {{ 'conditions.scope' | translate }}
            </div>
            <ul class="ml-2">
              <li>
                {{ 'conditions.scopeOne' | translate }}
              </li>
              <li>
                {{ 'conditions.scopeTwo' | translate }}
              </li>
            </ul>
            <div class="font-weight-bold mt-2">
              {{ 'conditions.collection' | translate }}
            </div>
            <div class="ml-2">
              <div class="mb-2">
                {{ 'conditions.info' | translate }}
              </div>
              <ol>
                <li class="mb-2">
                  {{ 'conditions.open' | translate }}
                </li>
                <div class="ml-4 mb-2">
                  {{ 'conditions.amend' | translate }}
                </div>
                <li class="mb-2">
                  {{ 'conditions.reservation' | translate }}
                </li>
                <div class="ml-4 mb-2">
                  {{ 'conditions.reserve' | translate }}
                </div>
                <ol type="a">
                  <li class="mb-2">
                    {{ 'conditions.reserveOne' | translate }}
                  </li>
                  <li class="mb-2">
                    {{ 'conditions.reserveTwo' | translate }}
                  </li>
                  <li class="mb-2">
                    {{ 'conditions.reserveThree' | translate }}
                  </li>
                  <li class="mb-2">
                    {{ 'conditions.reserveFour' | translate }}
                  </li>
                  <li class="mb-2">
                    {{ 'conditions.reserveFive' | translate }}
                  </li>
                </ol>
                <li>
                  {{ 'conditions.mobile' | translate }}
                </li>
              </ol>
              <div class="mb-2">
                {{ 'conditions.request' | translate }}
              </div>
              <div class="font-weight-bold mt-2 mb-2">
                {{ 'conditions.storage' | translate }}
              </div>
              <div class="ml-4 mb-2">
                {{ 'conditions.personal' | translate }}
              </div>
              <div class="ml-4 mb-2">
                {{ 'conditions.delete' | translate }}
              </div>
              <div class="ml-4 mb-2">
                {{ 'conditions.endeavor' | translate }}
              </div>
              <div class="ml-4 mb-2">
                {{ 'conditions.maintain' | translate }}
              </div>
              <div class="ml-4 mb-2">
                {{ 'conditions.receive' | translate }}
              </div>
              <div class="ml-4 mb-2">
                {{ 'conditions.payment' | translate }}
              </div>
              <div class="mt-3">
                {{ 'conditions.updatePrivacy' | translate }}
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="v-pills-messages"
            role="tabpanel"
            aria-labelledby="v-pills-messages-tab"
          >
            <div class="h3 terms">
              {{ 'conditions.cookiePolicy' | translate }}
            </div>
            <hr />
            <div class="mb-2">
              {{ 'conditions.enhance' | translate }}
            </div>
            <div class="mb-2">
              {{ 'conditions.dataPrivacy' | translate }}
            </div>
            <div class="mb-2">
              {{ 'conditions.section' | translate }}
            </div>
            <div class="font-weight-bold mt-2 mb-2">
              {{ 'conditions.cookies' | translate }}
            </div>
            <div class="mb-2">
              {{ 'conditions.usage' | translate }}
            </div>
            <div class="mb-2">
              {{ 'conditions.classify' | translate }}
            </div>
            <ol type="i" class="mb-2">
              <div class="item">
                <li class="font-weight-bold mb-2">
                  {{ 'conditions.session' | translate }}
                </li>
                <div class="start mb-2">
                  {{ 'conditions.duration' | translate }}
                </div>
                <div class="start mb-2">
                  <span class="font-weight-bold">
                    {{ 'conditions.sessionCookies' | translate }}
                  </span>
                  <span>
                    {{ 'conditions.expire' | translate }}
                  </span>
                </div>
                <div class="start mb-2">
                  <span class="font-weight-bold">
                    {{ 'conditions.persistent' | translate }}
                  </span>
                  <span>
                    {{ 'conditions.saved' | translate }}
                  </span>
                </div>
                <li class="font-weight-bold mb-2">
                  {{ 'conditions.firstParty' | translate }}
                </li>
                <div class="start">
                  <span class="mr-1">
                    {{ 'conditions.control' | translate }}
                  </span>
                  <span class="font-weight-bold">
                    {{ 'conditions.first' | translate }}
                  </span>
                  <span class="mr-1">
                    {{ 'conditions.noControl' | translate }}
                  </span>
                  <span class="font-weight-bold">third-party cookies.</span>
                  <span>
                    {{ 'conditions.thirdParty' | translate }}
                  </span>
                </div>
              </div>
            </ol>
            <div class="font-weight-bold mt-2 mb-2">
              {{ 'conditions.why use' | translate }}
            </div>
            <div>
              {{ 'conditions.commit' | translate }}
            </div>
            <ul class="mb-2">
              <li>
                {{ 'conditions.ensure' | translate }}
              </li>
              <li>
                {{ 'conditions.evaluate' | translate }}
              </li>
              <li>
                {{ 'conditions.analyse' | translate }}
              </li>
              <li>
                {{ 'conditions.determine' | translate }}
              </li>
              <li>
                {{ 'conditions.recommend' | translate }}
              </li>
              <li>
                {{ 'conditions.improve' | translate }}
              </li>
            </ul>
            <div class="mb-2">
              {{ 'conditions.purpose' | translate }}
            </div>
            <div>
              {{ 'conditions.lastUpdate' | translate }}
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="v-pills-settings"
            role="tabpanel"
            aria-labelledby="v-pills-settings-tab"
          >
            <div class="h3 terms">
              {{ 'conditions.price guarantee' | translate }}
            </div>
            <hr />
            <div class="mb-3">
              <span>
                {{ 'conditions.refund' | translate }}
              </span>
              <span class="font-weight-bold">
                {{ 'conditions.double' | translate }}
              </span>
              <span>{{ 'conditions.cheap' | translate }}</span>
            </div>
            <div class="mb-3">
              {{ 'conditions.important' | translate }}
            </div>
            <div class="mb-3">
              {{ 'conditions.confident' | translate }}
            </div>
            <div class="font-weight-bold mb-3">
              {{ 'conditions.so' | translate }}
              <ul>
                <li>
                  {{ 'conditions.find' | translate }}
                </li>
                <li>
                  {{ 'conditions.arrive' | translate }}
                </li>
              </ul>
            </div>
            <div class="mb-3">
              {{ 'conditions.send' | translate }}
            </div>
            <div class="mb-3">
              {{ 'conditions.read right' | translate }}
            </div>
            <div class="font-weight-bold">
              {{ 'conditions.request refund' | translate }}
            </div>
            <div class="ml-4">
              {{ 'conditions.simple' | translate }}
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="v-pills-bug"
            role="tabpanel"
            aria-labelledby="v-pills-bug-tab"
          >
            <div class="h3 terms">
              {{ 'conditions.bug program' | translate }}
            </div>
            <hr />
            <div class="mb-3">
              {{ 'conditions.reward' | translate }}
            </div>
            <div class="mb-3">
              {{ 'conditions.participate' | translate }}
            </div>
            <div class="h3 mb-3">
              {{ 'conditions.responsible' | translate }}
            </div>
            <div class="mb-3">
              {{ 'conditions.warrant' | translate }}
            </div>
            <div class="mb-3">
              {{ 'conditions.protect data' | translate }}
            </div>
            <div class="mb-3">
              {{ 'conditions.disruption' | translate }}
            </div>
            <div class="mb-3">
              {{ 'conditions.violation' | translate }}
            </div>
            <div class="h3 mb-3">
              {{ 'conditions.eligibility' | translate }}
            </div>
            <div class="mb-3">
              {{ 'conditions.must' | translate }}
            </div>
            <div class="mb-3">
              {{ 'conditions.resident' | translate }}
            </div>
            <div class="mb-3">
              {{ 'conditions.state' | translate }}
            </div>
            <div class="mb-3">
              {{ 'conditions.employed' | translate }}
            </div>
            <div class="mb-3">
              {{ 'conditions.immediate' | translate }}
            </div>
            <div class="mb-3">
              {{ 'conditions.less' | translate }}
            </div>
            <div class="h3 mb-3">
              {{ 'conditions.ownership' | translate }}
            </div>
            <div class="mb-3">
              {{ 'conditions.testing' | translate }}
            </div>
            <div class="h3 mb-3">
              {{ 'conditions.changes' | translate }}
            </div>
            <div class="mb-3">
              {{ 'conditions.cancel' | translate }}
            </div>
            <div class="mb-3">
              {{ 'conditions.post' | translate }}
            </div>
            <div class="mb-3">
              {{ 'conditions.language' | translate }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
