.mmain,
.main {
  color: #333333;
}
.sub {
  color: gray;
}
i {
  font-size: 0.8em;
}
a:hover,
i:hover {
  text-decoration: none;
  color: #ff5722;
}
.modl {
  // margin: 0em !important;
  // max-width: 1000px !important;
  padding: 30px;
  width: 800px;
  background-color: white;
  margin-left: -10em;
}

// .row {
//   width: 200%;
// }
// // .modal-content {
// //   width: 70em;
// //   padding: 2em;
// // }
// // mat-dialog-content {
// //   width: 400em;
// // }
// * {
//   font-size: 14px;
// }
// .categoryModal {
//   font-weight: 500;
//   font-size: 1em;
//   margin-top: -1em;
//   background-color: white;
//   top: 4em !important;
//   z-index: 2;
// }
// .categoryModal .dropdown:hover > .dropdown-menu {
//   display: block;
// }
// .categoryModal #navbarDropdown {
//   margin-left: 1.5em;
//   color: rgb(63, 60, 60);
// }
// .categoryModal #navbarDropdown:hover {
//   color: #ff5722;
// }
// .categoryModal .hd1 {
//   color: #333333;
//   font-size: 1em;
// }
// .categoryModal .navbar-collapse {
//   padding-bottom: 0.5em;
// }
// .categoryModal #navbarDropdown:hover .hd1 {
//   color: #ff5722;
// }
// .categoryModal .hd1:hover {
//   color: #ff5722;
// }
// .categoryModal .clr {
//   margin-right: 0.5em;
// }
// .categoryModal #navbarDropdown:hover i {
//   color: #ff5722;
// }
// .disableHorizontalScroll {
//   overflow: hidden;
// }
// // .modal-backdrop {
// //   display: none;
// // }

// .categoryModal .mmain,
// .main {
//   color: #333333;
// }
// #CatModal .sub {
//   color: gray;
// }
// #CatModal {
//   margin-top: 5.7em;
//   margin-left: -5em;
// }
// #CatModal .mmain {
//   font-size: 1.1em;
//   font-weight: 500;
// }
// #CatModal i {
//   font-size: 0.7em;
// }
// #CatModal a:hover,
// i:hover {
//   text-decoration: none;
//   color: #ff5722;
// }
// /* .hd1:hover {
//       z-index: 8000;
//       position: relative;
//     } */

// /* .categoryModal #navbarDropdown span:hover {
//       color: #ff5722;
//     } */
// .categoryModal #navbarDropdown i {
//   padding-right: 0.5em;
// }

// // .categoryModal .home {
// //   // margin-top: -0.2em;
// //   font-size: 1.1em;
// // }
// .categoryModal ul {
//   height: 2em;
// }
// .categoryModal .line {
//   background-color: #b2b2b2;
//   height: 1em;
//   width: 0.05em;
//   display: block;
//   margin-top: 0.6em;
//   margin-left: 0.5em;
// }
// .categoryModal .cat {
//   width: 55em;
// }

// .navbar-collapse {
//   background-color: white;
//   z-index: 5000;
// }
// @media only screen and (max-width: 479px) {
//   nav {
//     top: 3.7em !important;
//   }
// }

// .mmain,
// .main {
//   color: #333333;
// }
// #CatModal .sub {
//   color: gray;
// }
// #CatModal {
//   margin-top: 5.7em;
//   margin-left: -5em;
// }
// #CatModal .mmain {
//   font-size: 1.1em;
//   font-weight: 500;
// }
// #CatModal i {
//   font-size: 0.7em;
// }
// #CatModal a:hover,
// i:hover {
//   text-decoration: none;
//   color: #ff5722;
// }
// /* .hd1:hover {
//   z-index: 8000;
//   position: relative;
// } */

// /*  #navbarDropdown span:hover {
//   color: #ff5722;
// } */
// #navbarDropdown i {
//   padding-right: 0.5em;
// }

// .home {
//   color: #ff5722;
// }
// ul {
//   height: 2em;
// }
// .line {
//   background-color: #b2b2b2;
//   height: 1em;
//   width: 0.05em;
//   display: block;
//   margin-top: 0.6em;
//   margin-left: 0.5em;
// }
// .cat {
//   width: 55em;
// }
