<!-- <ol>
   <li>
      <mat-form-field>
        <mat-label>What's your name?</mat-label>
        <input matInput [(ngModel)]="name" />
      </mat-form-field>
    </li> 
  <li>
    <i class="fas fa-chevron-circle-right" (click)="openDialog()"></i>
     <button mat-raised-button (click)="openDialog()">Pick one</button> 
  </li>
  <li *ngIf="video">
    You chose:
    <i>{{ video }}</i>
  </li>
</ol> -->
<!-- <div role="document" class="modal-dialog"> -->
<!-- <div class="modal-content" style="width: 1000px;"> -->
<!-- <modal> -->
<mat-dialog-content>
  <div class="modl">
    <div class="row">
      <div class="col-3">
        <a href="../Experience/Experience/experience.html" class="mmain">
          <i class="fas fa-parachute-box mr-1" style="font-size: 1.1em;"></i>
          Experiences
        </a>
        <br />
        <br />
        <a href="../Attractions/AttractionsHK&Ma.html" class="main">
          Attractions
          <i class="fas fa-chevron-right"></i>
        </a>
        <br />
        <a href="#" class="sub">Theme & water parks</a>
        <br />
        <a href="#" class="sub">Museums & exhibitions</a>
        <br />
        <a href="#" class="sub">Nature & anomals</a>
        <br />
        <a href="#" class="sub">Observation & cable cars</a>
        <br />
        <a href="#" class="sub">Historical sights</a>
        <br />
        <a href="#" class="sub">Attraction passes & more</a>
        <br />
        <br />
        <a
          routerLink="/experiences/tour"
          routerLinkActive="active"
          class="main"
        >
          Tours
          <i class="fas fa-chevron-right"></i>
        </a>
        <br />
        <a href="../tours/walking&biking.html" class="sub">
          Walking & biking
        </a>
        <br />
        <a href="#" class="sub">Sightseeing</a>
        <a href="#" class="sub">Private tours</a>
        <br />
        <a href="#" class="sub">In the air</a>
        <br />
        <a href="#" class="sub">Cruises & island tours</a>
        <br />
        <br />
        <a href="#" class="main">
          Outdoors & sports
          <i class="fas fa-chevron-right"></i>
        </a>
        <br />
        <a href="#" class="sub">Water activities</a>
        <br />
        <a href="#" class="sub">Outdoor activities</a>
        <br />
        <a href="#" class="sub">Skiing & snowboarding</a>
        <br />
        <a href="#" class="sub">Camping & glamping</a>
        <br />
        <br />

        <a href="../Relax/Relaxx.html" class="main">
          Relaxation & beauty
          <i class="fas fa-chevron-right"></i>
          <br />
        </a>
        <a href="#" class="sub">Spa & massages</a>
        <br />
        <a href="#" class="sub">Salons & beauty</a>
        <br />
        <a href="../Relax/FunNight.html" class="sub">
          Fun & nightlife
        </a>
        <br />
        <br />
        <a href="../Relax/culturee.html" class="main">
          Culture & workshops
          <i class="fas fa-chevron-right"></i>
        </a>
        <br />
        <a href="#" class="sub">Classes & workshops</a>
        <br />
        <a href="#" class="sub">Traditional activities</a>
        <br />
        <br />
        <a href="../Relax/FunNight.html" class="main">
          Fun & nightlife
          <i class="fas fa-chevron-right"></i>
        </a>
        <br />
        <a href="#" class="sub">Games & VR</a>
        <a href="#" class="sub">Nightlife</a>
      </div>
      <div class="col-3">
        <a href="#" class="mmain">
          <i class="fas fa-subway mr-1" style="font-size: 1em;"></i>
          Transport
        </a>
        <br />
        <br />
        <a href="../Europe train/Europe train/train.html" class="sub">
          Trains
        </a>
        <br />
        <a href="#" class="sub">Mainland China trains</a>
        <br />
        <a href="#" class="sub">Vietnam trains</a>
        <a href="#" class="sub">Japan trains</a>
        <br />
        <a href="#" class="sub">Europe trains</a>
        <a href="#" class="sub">Taiwan trains</a>
        <br />
        <br />
        <a href="../hotel/carRentel.html" class="main">
          Car rentals
          <i class="fas fa-chevron-right"></i>
          <br />
        </a>
        <a href="#" class="sub">Thailand car rentals</a>
        <br />
        <a href="#" class="sub">Taiwan car rentals</a>
        <br />
        <a href="#" class="sub">South Korea car rentals</a>
        <br />
        <a href="#" class="sub">Malaysia car rentals</a>
        <br />
        <br />
        <a href="#" class="main">Buses & ferries</a>
        <br />
        <a href="#" class="sub">Taiwan intercity buses</a>
        <br />
        <a href="#" class="sub">Europe intercity buses</a>
        <br />
        <a href="#" class="sub">Thailand ferries</a>
        <br />
        <a href="#" class="sub">Thailand intercity buses</a>
        <br />
        <br />
        <a href="#" class="main">Private transport</a>
        <br />
        <a href="#" class="sub">Private cars</a>
        <br />
        <br />
        <a href="#" class="main">Public transport</a>
        <br />
        <a href="#" class="sub">Transport passes</a>
        <br />
        <a href="#" class="sub">Shared transfers</a>
        <br />
        <br />
        <a href="#" class="main">
          Scooter & motorbike rentals
          <i class="fas fa-chevron-right"></i>
        </a>
        <br />
        <br />
        <a href="#" class="main">Airport transfer</a>
        <a href="#" class="sub">Private airport transfers</a>
        <br />
        <a href="#" class="sub">Airport trains & buses</a>
      </div>

      <div class="col-3">
        <a href="#" class="mmain">
          <i class="fas fa-hotel mr-1" style="font-size: 1em;"></i>
          Accommodation
        </a>
        <br />
        <br />
        <a href="../hotel/Hotel.html" class="main">
          Hotels & more
          <i class="fas fa-chevron-right"></i>
        </a>
        <br />
        <a href="#" class="main">
          Staycations
          <i class="fas fa-chevron-right"></i>
        </a>
      </div>
      <div class="col-3">
        <a href="#" class="mmain">
          <i class="far fa-circle mr-1" style="font-size: 1em;"></i>

          More to explore
        </a>
        <br />
        <br />
        <a href="../food & dining/food & dining/food.html" class="main">
          Food & dinning
          <i class="fas fa-chevron-right"></i>
        </a>
        <br />
        <a href="#" class="sub">Hong Kong</a>
        <a href="#" class="sub">Taipei</a>
        <br />
        <a href="#" class="sub">Bangkok</a>
        <a href="#" class="sub">Kuala Lumpur</a>
        <br />
        <a href="#" class="sub">Singapore</a>
        <br />
        <br />
        <a href="#" class="main">
          Shopping
          <i class="fas fa-chevron-right"></i>
        </a>
        <br />
        <br />
        <a href="../hotel/Wifi&Simcard.html" class="main">
          WiFi & SIM cards
          <i class="fas fa-chevron-right"></i>
          <br />
        </a>
        <br />
        <br />
        <a href="#" class="main">Traveler essentials</a>
        <br />
        <a href="#" class="sub">Services</a>
        <a href="#" class="sub">Travel gear rental</a>
        <br />
        <a href="#" class="sub">Travel insurance</a>
      </div>
    </div>
  </div>
</mat-dialog-content>
<!-- </modal> -->
<!-- </div> -->
<!-- </div> -->
