<div class="cover">
  <div class="text text-center">
    <h1>Get klook credits when you complete an experience</h1>
    <div class="find">
      Find out how to get extra discounts on your next booking by completing
      klook activities and leaving reviews
    </div>
    <div class="check">
      Check My Credits
    </div>
  </div>
</div>
<!-- Start klook credits -->
<div class="credits">
  <h1>What are Klook credits?</h1>
  <p>
    Credits can be earned by Klook customers for activities they book on
    Klook.com or via the Klook App. After you collect enough credits, you can
    use these credits to get a discount on your next booking with Klook
  </p>
  <p>
    <span>10 credits = 1 Hong Kong Dollar</span>

    The credits value in other currencies is based on the exchange rate at the
    time of booking
  </p>
</div>
<!-- End klook credits -->
<!-- start get credits -->
<div class="get">
  <h1>How do I get credits?</h1>
  <div class="row">
    <div class="col-lg-5 col-md-10 col-sm-10 first">
      <img
        src="./../../../assets/credit/activity.png"
        alt="complete activity"
      />
      <div class="main">Complete a Klook activity</div>
      <div class="sub">
        When you complete a Klook activity, you will receive 1%-5% of the
        activity price in Klook credits. The credits will appear in your Klook
        account 2 days after you complete the activity
      </div>
    </div>
    <div class="col-lg-5 col-md-10 col-sm-10 second">
      <img src="./../../../assets/credit/review.png" alt="review" />
      <div class="main">Leave a review</div>
      <div class="sub">
        After completing any Klook activity, you are invited to leave a review.
        Each review earns you 80 credits which will appear in your account
        immediately
      </div>
    </div>
  </div>
</div>
<!-- end get credits -->
<!-- start use credits -->
<div class="use">
  <h1>How do I use credits?</h1>
  <div class="collect">
    When you have collected
    <span>at least 10</span>
    credits,you can choose to use these credits to get a discount on your next
    booking with Klook
  </div>
</div>
<!-- end use credits -->
