<div class="bodyy">
  <mat-card class="container cardd">
    <h2>{{ Signn }}</h2>
    <br />

    <div class="log">
      <form [formGroup]="insertForm" #form="ngForm">
        <div class="form-group">
          <label for="Email">Email address</label>
          <input
            type="Email"
            class="form-control"
            id="Email"
            aria-describedby="EmailHelp"
            placeholder="Email address"
            formControlName="Email"
          />
          <div
            class="col-10"
            *ngIf="
              insertForm.controls['Email'].invalid &&
              (insertForm.get('Email').dirty || insertForm.get('Email').touched)
            "
          >
            <small
              class="text-danger"
              *ngIf="insertForm.get('Email').hasError('email')"
            >
              Please enter an Email address
            </small>
          </div>
        </div>

        <div class="form-group" *ngIf="signbool">
          <label for="Name">Name</label>
          <input
            type="Name"
            class="form-control"
            id="Name"
            aria-describedby="NameHelp"
            placeholder="Name"
            formControlName="Name"
          />
          <div
            class="col-10"
            *ngIf="
              insertForm.controls['Name'].invalid &&
              (insertForm.get('Name').dirty || insertForm.get('Name').touched)
            "
          >
          <small
          class="text-danger"
          *ngIf="insertForm.controls['Name'].errors?.minlength"
        >
        Password must be atleast 5
                  </small>
          </div>
        </div>

        <div class="form-group">
          <label for="Password">Password</label>
          <input
            type="Password"
            class="form-control"
            id="Password"
            placeholder="Enter Password"
            formControlName="Password"
          />
          <div
            class="col-10"
            *ngIf="
              insertForm.controls['Password'].invalid &&
              (insertForm.get('Password').dirty ||
                insertForm.get('Password').touched)
            "
          >
            <small
              class="text-danger"
              *ngIf="insertForm.controls['Password'].errors?.minlength"
            >
              Password must be atleast 5 
            </small>
          </div>
        </div>
      </form>
    </div>
    <br />
    <button
      *ngIf="signbool"
      mat-flat-button
      class="container btn-block btn btnsign"
      (click)="signupp()"
    >
      Sign up
    </button>
    <button
      *ngIf="loginBool"
      mat-flat-button
      class="container btnsign"
      (click)="login()"
    >
      Log in
    </button>

    <div class="btnsign2  alert-danger">{{ errorMsg }}</div>
    <!-- <mat-checkbox class="example-margin">
      <h5>
        Yes! I would like to receive special offers,
        <br />
        promotion and other information from Klook.
        <br />
        I understand I can unsubscribe at any time.
      </h5>
    </mat-checkbox> -->

    <div class="absspan" *ngIf="signbool" routerLink="/sign/login">
      <span>Already have a Klook account?</span>
      <button mat-stroked-button class="ml-4">log in</button>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
  </mat-card>
</div>
