<!-- start first section (header of page )   -->
<article class="allCat">
  <section
    id="tour-header"
    *ngFor="let subCat of subCategory"
    class="d-flex flex-column align-items-center row"
  >
    <div class="cover row">
      <img class="bg" src="{{ subCat.Background }}" alt="" />

      <div
        class="tl ml-5 col-7 col-sm-7 col-md-12 col-lg-12 col-xl-12 d-flex flex-column justify-content-center"
      >
        <div class="dropdown">
          <button
            class="btn dropdown-toggle attrc"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            {{ subCatName }}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div *ngFor="let subCat of allSubCategorey">
              <a
                routerLinkActive="active"
                class="dropdown-item mt-2 p-3"
                (click)="goToSubCategory(subCat.Name)"
                [ngClass]="{ checkedSubCat: subCatName === subCat.Name }"
              >
                {{ subCat.Name }}
                <i
                  class="fas fa-check ml-5"
                  [ngClass]="{ checkedSubCat: subCatName === subCat.Name }"
                ></i>
              </a>
            </div>
          </div>
        </div>

        <div class="disc mt-3">
          <!-- Discover the best theme parks, museums and more must-sees in -->
          <!-- {{ city }} -->
          {{ 'experiences.discover' | translate }}
          {{ city }}
        </div>

        <!-- <div class="row ml-2">
          <div
            id="search"
            class="rounded-lg d-flex col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7"
          >
            <div class="input-group mr-3 rounded pl-3">
              <svg class="mt-2" viewBox="0 0 24 24" width="24" height="24">
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M10.5 2a8.5 8.5 0 016.4 14.095l3.842 3.843a.6.6 0 01-.766.918l-.083-.07-3.845-3.846A8.5 8.5 0 1110.5 2zm0 1.2a7.3 7.3 0 100 14.6 7.3 7.3 0 000-14.6z"
                ></path>
              </svg>
              <input
                class="form-control rounded pt-2 mr-3"
                [(ngModel)]="searchTerm"
                type="search"
                placeholder="what do you want to do in cairo ?"
                id="tour-search"
              />
            </div>
            <button class="rounded ml-2" (click)="search()">Search</button>
          </div>
        </div> -->
        <!-- location -->

        <div
          class="destination d-flex p-2 mt-3 col-1 justify-content-center align-items-center"
          (click)="openPopup()"
        >
          <i
            class="fas fa-map-marker-alt pr-1"
            style="font-size: 1.2em; color: gray;"
          ></i>
          <span>{{ city }}</span>
        </div>

        <!--  -->

        <!-- search -->

        <app-search
          [city]="city"
          [subCatName]="subCatName"
          [collectionListName]="collectionListName"
        ></app-search>
        <!---->
      </div>
    </div>

    <!-- End cover -->
  </section>

  <!-- end section -->

  <ngx-skeleton-loader
    *ngIf="loading && subCategory.length == 0"
    [theme]="{ height: '300px', margin: '10px' }"
    animation="pulse"
  ></ngx-skeleton-loader>

  <!-- start Categories   section  -->

  <!-- end body section -->
  <!--Start options-->
  <div class="options container">
    <div class="row contain">
      <!-- <a
        href="#"
        class="col-lg-2 col-md-4 col-sm-4 card"
        (click)="search()"
        *ngFor="let cat of categoryList"
      >  -->
      <a
        (click)="goToActivites($event, cat)"
        class="col-lg-2 col-md-4 col-sm-4 card"
        *ngFor="let cat of categoryList"
      >
        <div class="svg">
          <img src="{{ cat?.image }}" alt="" />
        </div>
        <div class="word">{{ cat?.name }}</div>
      </a>
    </div>
  </div>
  <!--End options-->

  <!-- start Bestsellers section  -->

  <section id="best-sellers" class="m-5" *ngIf="bestSellerList.length > 0">
    <h2 class="font-weight-bold ml-4 mt-1">Unmissable things to do</h2>

    <div id="best-backhround" class="m-2 rounded-lg row">
      <div class="mt-2 col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
        <img
          src="https://res.klook.com/image/upload/v1604053241/ued/ttd/recommended%20section/icon_ttd_recommend_bestseller_fill_sxl_colorful.png"
          style="width: 46px;"
        />
        <p id="best-title" class="font-weight-bold pt-3">Bestsellers</p>
      </div>

      <div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9 unmissable">
        <owl-carousel-o [options]="customOptions">
          <ng-template
            carouselSlide
            *ngFor="let tour of bestSellerList"
            class="row"
          >
            <div
              class="card move fr"
              (click)="viewDetails(tour.id, 'ToursCollection')"
              id="cat-card"
            >
              <img
                src="{{ tour.Image }}"
                class="card-img-top tourImg"
                alt="..."
              />
              <div class="top_left col-10">
                <i class="fas fa-map-marker-alt mr-1" style="color: white;"></i>
                <span style="color: white;">{{ tour.City }}</span>
              </div>
              <div class="card-body">
                <div class="card-title" style="font-weight: 600;">
                  {{ tour.Title }}
                </div>
                <div>
                  <span class="sm">{{ tour.Booked }}+ Booked</span>
                </div>
              </div>
              <div class="card-body card-body2">
                <div>
                  <span class="font-weight-bold black">
                    EGP {{ tour.Price }}
                  </span>
                  <i class="fas fa-fire ml-2" style="color: #ff612f;"></i>
                </div>
                <a href="#" class="card-link text-muted sm">
                  Book now for {{ tour.Date }}
                </a>
              </div>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </section>

  <!-- end Bestsellers section  -->

  <!-- //////////////////////////// awsome /////////////// -->

  <section id="awsomeDeals" class="m-5" *ngIf="awsomeDealsList.length > 0">
    <div
      class="row rounded-lg m-2 pt-4 pb-4"
      style="background-color: rgba(255, 244, 237, 0.7);"
    >
      <div class="col-2 col-lg-2 col-xl-2 col-md-0 icoTextCars">
        <div class="mt-4 ml-4">
          <img src="../../../assets/realax/aws.png" />
          <h4 class="mt-3" style="color: #ff5722;">Awesome deals</h4>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9 unmissable">
        <owl-carousel-o [options]="customOptions">
          <ng-template
            carouselSlide
            *ngFor="let tour of awsomeDealsList"
            class="row"
          >
            <div
              class="card move fr"
              (click)="viewDetails(tour.id, 'ToursCollection')"
              id="cat-card"
            >
              <img
                src="{{ tour.Image }}"
                class="card-img-top tourImg"
                alt="..."
              />
              <div class="top_left col-10">
                <i class="fas fa-map-marker-alt mr-1" style="color: white;"></i>
                <span style="color: white;">{{ tour.City }}</span>
              </div>
              <div class="card-body">
                <div class="card-title" style="font-weight: 600;">
                  {{ tour.Title }}
                </div>
                <div>
                  <span class="sm">{{ tour.Booked }}+ Booked</span>
                </div>
              </div>
              <div class="card-body card-body2">
                <div>
                  <span class="font-weight-bold black">
                    EGP {{ tour.Price }}
                  </span>
                  <i class="fas fa-fire ml-2" style="color: #ff612f;"></i>
                </div>
                <a href="#" class="card-link text-muted sm">
                  Book now for {{ tour.Date }}
                </a>
              </div>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>

      <div class="col-1 col-lg-1 col-xl-1 col-md-0"></div>
    </div>
  </section>

  <!-- //////////////////////////// awsome /////////////// -->

  <!-- //////////////////////////// for Kids /////////////// -->
  <section id="forKids" class="m-5" *ngIf="forKidsList.length > 0">
    <div
      class="row rounded-lg m-2"
      style="background-color: rgba(255, 244, 237, 0.7);"
    >
      <div class="col-2 col-lg-2 col-xl-2 col-md-0 icoTextCars">
        <div class="mt-4 ml-4">
          <img src="../../../assets/realax/for.png" />
          <h4 class="mt-3" style="color: #be46c2;">For kids</h4>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9">
        <owl-carousel-o [options]="customOptions">
          <ng-template
            carouselSlide
            *ngFor="let tour of forKidsList"
            class="row"
          >
            <div
              class="card move fr"
              (click)="viewDetails(tour.id, 'ToursCollection')"
              id="cat-card"
            >
              <img
                src="{{ tour.Image }}"
                class="card-img-top tourImg"
                alt="..."
              />
              <div class="top_left col-10">
                <i class="fas fa-map-marker-alt mr-1" style="color: white;"></i>
                <span style="color: white;">{{ tour.City }}</span>
              </div>
              <div class="card-body">
                <div class="card-title" style="font-weight: 600;">
                  {{ tour.Title }}
                </div>
                <div>
                  <span class="sm">{{ tour.Booked }}+ Booked</span>
                </div>
              </div>
              <div class="card-body card-body2">
                <div>
                  <span class="font-weight-bold black">
                    EGP {{ tour.Price }}
                  </span>
                  <i class="fas fa-fire ml-2" style="color: #ff612f;"></i>
                </div>
                <a href="#" class="card-link text-muted sm">
                  Book now for {{ tour.Date }}
                </a>
              </div>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>

      <div class="col-1 col-lg-1 col-xl-1 col-md-0"></div>
    </div>
  </section>
  <!-- //////////////////////////// For Kids /////////////// -->

  <!-- start nearby section  -->

  <!-- <section id="nearby" class="m-5 mb-5" *ngIf="nearbyList.length > 0">
    <h2 class="font-weight-bold ml-4 mt-1">Nearby destinations</h2>
    <div class="row ml-4">
      <div
        class="card text-white h-1 card1 mr-4"
        style="width: 16em;"
        *ngFor="let tour of nearbyList"
        (click)="viewDestination(tour.id, 'Cities')"
      >
        <img
          src="{{ tour.Image }}"
          style="height: 20em;"
          class="card-img"
          alt="Macau"
        />
        <div class="card-img-overlay d-flex flex-column">
          <h6 class="card-title h4" style="font-weight: 200;">Distance of</h6>
          <h4 class="card-title h4" style="font-weight: 700;">
            {{ tour.Distance }} KM
          </h4>
          <h4 class="card-title mt-auto h4">{{ tour.Title }}</h4>
        </div>
      </div>
    </div>
  </section> -->

  <!-- start nearby section  -->
  <mat-spinner *ngIf="loading"></mat-spinner>

  <ngx-skeleton-loader
    *ngIf="loading"
    [theme]="{ height: '30px', margin: '10px' }"
    animation="pulse"
    [count]="count"
  ></ngx-skeleton-loader>

  <div
    class="ml-4 mt-1 p-2 d-flex flex-column align-items-center"
    *ngIf="
      bestSellerList.length == 0 &&
      nearbyList.length == 0 &&
      forKidsList.length == 0 &&
      awsomeDealsList.length == 0 &&
      !loading
    "
  >
    <img src="../../../assets/NotFound/search_noResult.webp" />

    <p class="font-weight-bold not-available">
      No Tours of {{ subCatName }} available now in {{ city }}
    </p>
  </div>
</article>
