$white-txt: #fff;
$primary: #ff5722;
$primaryLight: #fff4ed;
$secondry: #4985e6;
$gray-color: #ccc;
$simple-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
$more-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
$txt-color: #333;
// .contain {
//   // display: flex;
//   align-items: center;
//   // justify-content: center;
// }
/*Start options*/
.options {
  margin-top: 3em;
  margin-bottom: 4em;
}
.options .row .card {
  /* box-shadow: 3px 3px 3px 3px #888888; */
  margin: 1em;
  transition: 0.4s;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.options .row {
  width: 90%;
  text-align: center;
}
.options .row .card:hover {
  text-decoration: none;
  transform: translateY(-0.6em);
}
.options .row .svg {
  display: block;
  margin: auto;
  margin-top: 2em;
}
.options .row .card .svg img {
  width: 2.5em;
}
.options .row .card .word {
  color: black;
  padding-top: 1.5em;
  padding-bottom: 1em;
  width: 80%;
  margin: auto;
  text-align: center;
}

/*End options*/
.unmissable .card {
  /* margin-right: 0.5em; */
  width: 80%;
}
.unmissable .card a {
  color: #333333;
}
.unmissable .tourImg {
  height: 10em;
}
.unmissable .card a:hover {
  color: #333333;
  text-decoration: none;
}
.unmissable .card:hover {
  transform: translate(0, -10px);
}
.unmissable .top_left {
  position: absolute;
  top: 8px;
  left: 2px;
}
.unmissable .move {
  margin-left: 2em;
  height: 25em !important;
  width: 15em !important;
}
// .move {
//   margin-left: 2em;
//   height: 25em !important;
//   width: 15em !important;
// }
.unmissable .btns {
  display: flex;
  justify-content: space-between;
}
.unmissable .btn1,
.btn2 {
  color: white;
  height: 1.5em;
  font-weight: 500;
  border-radius: 0.2em;
  margin-top: 4.5em;
  font-size: 0.9em;
}
.unmissable .btn1 {
  margin-right: 1em;
  background-color: #ff5722;
  border: 0.1em solid #ff5722;
}
.unmissable .btn2 {
  background: linear-gradient(to right, #ff9557 0%, #ff6b3d 100%);
  border: 0.1em solid #ff9557;
}
.unmissable .carousel-next-icon {
  border: 0.15em white solid;
  border-radius: 50%;
  padding: 0.5em;
  color: gray;
  margin-left: 10em;
  background-color: white;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
  margin-bottom: 5em;
}
.unmissable .carousel-prev-icon {
  padding: 0.5em;
  color: gray;
  margin-right: 8.5em;
  border: 0.15em white solid !important;
  border-radius: 55%;
  background-color: white;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
  margin-bottom: 5em;
}
.unmissable .card-title {
  font-weight: 700 !important;
  font-size: 0.9em;
  color: black;
}
.unmissable .bg {
  background-color: #fff7f2;
}
.unmissable .sm {
  font-size: 0.85em;
}
.unmissable .black {
  color: black;
  font-size: 0.9em;
  margin-top: -1em;
}
.unmissable .card-body2 {
  margin-top: -2em;
}
.unmissable .move {
  height: 20em;
}
/*Start options*/
.options {
  margin-top: 3em;
  margin-bottom: 4em;
}
.options .row .col-2 {
  /* box-shadow: 3px 3px 3px 3px #888888; */
  margin: 1em;
  transition: 0.4s;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.options .row {
  width: 90%;
}
.options .row .col-10:hover {
  text-decoration: none;
  transform: translateY(-0.6em);
}

.options .row .col-10 .word {
  color: black;
  padding-top: 1.5em;
  padding-bottom: 1em;
  width: 80%;
  margin: auto;
  text-align: center;
}

/*End options*/

@mixin icon-size($id) {
  @if ($id == 'arrow-down') {
    font-size: 40px;
  } @else {
    font-size: 20px;
  }
}

i {
  color: #fff;
}

.active {
  color: #ff5722;
}

.not-available {
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}
article {
  overflow-x: hidden;
}

/* --- start article --- */
article {
  #tour-header {
    width: 100%;
    #title {
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 16px;
      line-height: 24px;
    }

    div {
      #arrow-down {
        @include icon-size('arrow-down');
      }

      i {
        @include icon-size('i');
      }
    }

    #location {
      background: #fff;
      color: #4a4a4a;
      border-radius: 25px;

      min-width: 100px;
      height: 30px;
      line-height: 20px;
      font-size: 12px;

      svg {
        fill: #4a4a4a;
      }
    }

    h2 {
      font-weight: 700;
      font-size: 46px;
      line-height: 60px;
      color: #fff;
      cursor: pointer;
    }
  }

  #best-sellers {
    h2 {
      font-size: 28px;
      line-height: 40px;
      color: #212121;
    }

    #best-backhround,
    #awsomeDeal > div,
    #forKids > div {
      background-color: rgba(255, 244, 237, 0.7);
      padding: 32px;
    }

    #best-title {
      font-size: 22px;
      line-height: 28px;
      color: #ff9d26;
    }
  }

  #nearby {
    h2 {
      @extend #best-sellers, h2;
    }

    div {
      color: #fff;

      #img-baground {
        height: 250px;
        filter: brightness(0.9);
      }
    }
  }
}

#card-link {
  color: #212121;
  text-decoration: none;
}

// cards
#card {
  border: none;
  box-shadow: $simple-shadow;
  color: #212121;
  transition: all 0.5s ease-in-out;

  // min-height: 350px;
}

#card-icon {
  height: 35px;
  width: 35px;
}

#cat-card {
  transition: all 0.5s ease-in-out;
  overflow: auto;
}

#cat-card:hover {
  transform: translateY(-3px);
  box-shadow: 0px 5px 5px #aaaaaa;
  cursor: pointer;
}

#recomended-txt {
  color: #666;
  line-height: 16px;
  font-size: 14px;
}

// border right
#recomended-txt::after {
  content: '';
  margin-left: 10px;
  border-left: 1px solid #b2b2b2;
  height: 12px;
  width: 2px;
  display: inline-block;
  vertical-align: middle;
}

.carousel-item {
  &.active,
  &.carousel-item-right,
  &.carousel-item-next {
    display: flex !important;
    flex-wrap: wrap;
  }
}

/*Start cover */

.bg {
  width: 100%;
  height: 460px;
  position: relative;
  // text-align: center;
  color: white;

  // background-size: cover;
}

.tl {
  margin-top: -32em;
}

.tl .dropdown:hover > .dropdown-menu {
  display: block;
}
.tl .attrc {
  color: white;
  font-size: 3em;
  font-weight: 700;
  margin-left: -0.3em;
}

.tl .disc {
  color: white;
  font-size: 1.2em;
  font-weight: 600;
}
// .tl .destination {
//   background-color: white;
//   width: 27%;
//   padding: 1em;
//   border-radius: 2em;
//   margin-top: 1.8em;
// }
/*Search*/

// .cover .tl {
//   // position: absolute;
//   // top: 17em;
//   // left: 8em;
//   z-index: 2;
//   top: 3em;
//   left: 3em;
//   width: 100%;
// }
// .cover .tl .dropdown:hover > .dropdown-menu {
//   display: block;
// }
// .cover .tl .attrc {
//   color: white;
//   font-size: 3em;
//   font-weight: 700;
//   margin-left: -0.3em;
// }
/* .cover .tl .attrc .actv {
        color: #ff5722;
      } */

// .cover .tl .disc {
//   color: white;
//   font-size: 1.2em;
//   font-weight: 600;
// }
.cover .tl .destination {
  background-color: white;
  // width: 27%;
  min-width: 100px;
  padding: 1em;
  border-radius: 2em;
  margin-top: 1.8em;
  color: #4a4a4a;
  cursor: pointer;

  // border-radius: 25px
  height: 40px;
  line-height: 20px;
  font-size: 12px;
}
// .search {
// width: 79em;
// }

/*Search*/

// .main {
//   width: 120%;
//   background-color: white;
//   height: 4rem;
// }

// .m {
//   margin-top: 13px;
//   background-color: rgb(245, 238, 238);
//   border-width: 0px;
// }

// .mbutton {
//   width: 20%;
//   color: white;
//   background-color: #ff5722;
// }
// .has-search .form-control {
//   padding-left: 2.375rem;
// }
// .has-search .form-control-feedback {
//   position: absolute;
//   z-index: 2;
//   display: block;
//   width: 2.375rem;
//   height: 2.375rem;
//   line-height: 3.975rem;
//   text-align: center;
//   pointer-events: none;
//   color: #aaa;
// }
.cover .tl .s007 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 3em;
  width: 120%;
}

.cover .tl .s007 form {
  width: 100%;
  max-width: 790px;
  margin: 0;
}

.cover .tl .s007 form .inner-form .input-field {
  position: relative;
}

.cover .tl .s007 form .inner-form .input-field input {
  height: 100%;
  border: 0;
  background: #fff;
  display: block;
  width: 100%;
  padding: 10px 32px 10px 70px;
  font-size: 18px;
  color: #666;
  border-radius: 3px;
  height: 70px;
  color: #555;
}

.cover .tl .s007 form .inner-form .input-field input.placeholder {
  color: #999;
  font-size: 18px;
}

.cover .tl .s007 form .inner-form .input-field input:-moz-placeholder {
  color: #999;
  font-size: 18px;
}

.cover
  .tl
  .s007
  form
  .inner-form
  .input-field
  input::-webkit-input-placeholder {
  color: #999;
  font-size: 18px;
}

.cover .tl .s007 form .inner-form .input-field input:hover,
.cover .tl .s007 form .inner-form .input-field input:focus {
  box-shadow: none;
  outline: 0;
}

.cover .tl .s007 form .inner-form .basic-search .input-field .icon-wrap {
  position: absolute;
  top: 0;
  left: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-align: center;
  align-items: center;
  width: 60px;
  height: 100%;
}

.cover .tl .s007 form .inner-form .basic-search .input-field .icon-wrap svg {
  width: 34px;
  height: 34px;
  fill: #ccc;
}

.cover .tl .s007 form .inner-form .basic-search .input-field .result-count {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: center;
  align-items: center;
  width: 110px;
  top: 0;
  right: 0;
  position: absolute;
  font-weight: bold;
  color: #555;
  height: 100%;
  font-size: 14px;
}

/*End cover*/

.icoTextCars img {
  width: 30%;
}

.icoTextCars h4 {
  color: #ff9d26;
  font-weight: 700;
}

.cardMob {
  display: none;
}

.fontCard {
  font-size: 0.8rem;
  font-weight: 700;
}

.owlheight {
  height: 350px !important;
}

// dropdown start

.dropdown-menu:after {
  content: '';
  position: absolute;
  top: -6px;
  left: 143px;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ffffff;
  border-left: 7px solid transparent;
}
.dropdown-menu {
  padding: 30px;
  border-radius: 10px;
}

.dropdown-item {
  background: #eee;
  // padding: 20px;
  border-radius: 7px;
}

.dropdown-item:hover {
  color: #ff5722;
  background: #eee;
  cursor: pointer;
}

.fa-check {
  color: #eee;
}

.checkedSubCat {
  color: #ff5722;
}

//  scroll style
/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.must-visit .row {
  margin-left: 0.2em;
}
.must-visit .card {
  margin-top: 2.5em;
}
.must-visit .card1 {
  margin-right: 1.5em;
  transition: 0.4s;
}
.must-visit .card1:hover {
  transform: translateY(-0.6em);
}
.h3 {
  display: block;
  font-size: 2em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.h4 {
  display: block;
  font-size: 1.1em;

  font-weight: bold;
  letter-spacing: 1px;
}

.h5 {
  display: block;
  font-size: 0.83em;

  font-weight: bold;
}
.h6 {
  display: block;
  font-size: 0.67em;
  margin-block-start: 2.33em;
  margin-block-end: 2.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.fr{

  width: 300px;
}
