<!-- Start cover -->
<div class="all">
  <div class="firstPart">
    <div class="cover">
      <div class="text text-center">
        <h1>{{ 'help.how' | translate }}</h1>
      </div>
    </div>
  </div>
  <div class="secondPart mt-5">
    <div class="h4">{{ 'amend.how' | translate }}</div>
    <div>
      {{ 'amend.activities' | translate }}
    </div>
    <ol>
      <li>{{ 'amend.go' | translate }}</li>
      <li>{{ 'amend.find' | translate }}</li>
      <li>
        {{ 'amend.select' | translate }}
      </li>
    </ol>
    <div>
      {{ 'amend.update' | translate }}
    </div>
    <div>
      {{ 'amend.not applicable' | translate }}
    </div>
    <div>
      {{ 'amend.help' | translate }}
    </div>
  </div>
</div>
