<!-- Start cover -->
<div class="all">
  <div class="firstPart">
    <div class="cover">
      <div class="text text-center">
        <h1>{{ 'help.how' | translate }}</h1>
      </div>
    </div>
  </div>
  <div class="secondPart mt-5">
    <div class="h4">{{ 'find.where' | translate }}</div>
    <div class="font-weight-bold mb-2 mt-2">
      {{ 'find.before' | translate }}
    </div>
    <div>
      {{ 'find.find' | translate }}
    </div>
    <div class="font-weight-bold mb-2 mt-4">{{ 'find.after' | translate }}</div>

    <div>
      {{ 'find.details' | translate }}
    </div>
    <div>
      {{ 'find.unsure' | translate }}
    </div>
  </div>
</div>
