<div class="blog">
  <div class="cover">
    <div class="text text-center">
      <h1>
        {{ 'blog.guide' | translate }}
      </h1>
      <div class="find">
        {{ 'blog.discover' | translate }}
      </div>
    </div>
  </div>
  <!--Start inspiration-->
  <div class="inspiration">
    <div class="row">
      <div class="col-lg-8 left">
        <div class="latest">
          {{ 'blog.latest' | translate }}
        </div>
        <div class="hr"></div>
        <!--1-->
        <div class="row">
          <div class="col-lg-4">
            <img
              src="../../../assets/blog/food.webp"
              style="width: 100%;"
              alt=""
            />
          </div>
          <div class="col-lg-8 text">
            <div class="font-weight-bold title">
              {{ 'blog.best' | translate }}
            </div>
            <div class="text-muted details">
              {{ 'blog.find' | translate }}
            </div>
          </div>
        </div>
        <!--2-->
        <div class="row mt-5">
          <div class="col-lg-4">
            <img
              src="../../../assets/blog/bubble.webp"
              style="width: 100%;"
              alt=""
            />
          </div>
          <div class="col-lg-8 text">
            <div class="font-weight-bold title">
              {{ 'blog.bubble' | translate }}
            </div>
            <div class="text-muted details">
              {{ 'blog.residents' | translate }}
            </div>
          </div>
        </div>
        <!--3-->
        <div class="row mt-5">
          <div class="col-lg-4">
            <img
              src="../../../assets/blog/marinaBay.webp"
              style="width: 100%;"
              alt=""
            />
          </div>
          <div class="col-lg-8 text">
            <div class="font-weight-bold title">
              {{ 'blog.marina bay' | translate }}
            </div>
            <div class="text-muted details">
              {{ 'blog.central area' | translate }}
            </div>
          </div>
        </div>
        <!--4-->
        <div class="row mt-5">
          <div class="col-lg-4">
            <img
              src="../../../assets/blog/iSquare.webp"
              style="width: 100%;"
              alt=""
            />
          </div>
          <div class="col-lg-8 text">
            <div class="font-weight-bold title">
              {{ 'blog.iSquare' | translate }}
            </div>
            <div class="text-muted details">
              {{ 'blog.situated' | translate }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--End inspiration-->
</div>
