<header>
  <div class="container">
    <p id="p1">Car Rentals</p>

    <p id="p2">
      Explore all your favorite destinations in style with selection from top
      car suppliers worldwide at the best prices
    </p>
    <div class="shadow col-12 bg-white" style="border-radius: 8px;">
      <div class="borderContet">
        <div class="form-check pt-3">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="" />
            Return car to a different location
          </label>
        </div>
        <div class="row pt-4 pl-3">
          <div class="col-3 border border-light bg-light pt-2 mr-2">
            <div>
              <i class="fas fa-map-marker-alt"></i>
              Pick-up & drop-off location
            </div>
          </div>
          <div class="col-4 border border-light bg-light pt-2 mr-1">
            Pick-up date & time
          </div>

          <div class="col-md-3 col-2 border border-light bg-light pt-2"></div>
          <div class="col-1 mt-1">
            <button class="btn" style="background-color: #ff5722; color: white;">
              Search
            </button>
          </div>
        </div>
      </div>
      <div class="mt-3 pt-3 mb-2 pb-2">
        <span class="pt-3">
          Driver's age:
          <a class="far fa-question-circle text-secondary">:</a>
        </span>
        <select class="text-secondary" id="btn" style="background-color: white;">
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>
          <option value="26">26</option>
          <option value="27">27</option>
          <option value="28">28</option>
          <option value="29">29</option>
          <option value="between 30-65">between 30-65</option>
          <option value="66">66</option>
          <option value="67">67</option>
          <option value="68">68</option>
          <option value="69">69</option>
          <option value="71">70</option>
          <option value="72">72</option>
          <option value="73">73</option>
          <option value="74">74</option>
          <option value="75">75</option>
          <option value="76">76</option>
          <option value="78">78</option>
          <option value="79">79</option>
          <option value="80">80</option>
          <option value="81">81</option>
          <option value="82">82</option>
          <option value="83">83</option>
          <option value="84">84</option>
          <option value="85">85</option>
          <option value="86">86</option>
          <option value="87">87</option>
          <option value="88">88</option>
          <option value="89">89</option>
          <option value="90">90</option>
          <option value="91">91</option>
          <option value="92">92</option>
          <option value="93">93</option>
          <option value="94">94</option>
          <option value="95">95</option>
          <option value="96">96</option>
          <option value="97">97</option>
          <option value="98">98</option>
          <option value="99">99</option>
        </select>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <ngb-carousel class="mt-5">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../../../assets/carRental/jdpcwuesbdi7jyv11qzk.jpg" alt="" class="img-fluid" />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../../../assets/carRental/jdpcwuesbdi7jyv11qzk.jpg" alt="" class="img-fluid" />
      </div>
    </ng-template>
  </ngb-carousel>

  <h2 id="servived" class="mt-5 mb-4">
    SERVICED BY TOP-RATED SUPPLIERS
  </h2>

  <div class="row align-items-center justify-content-center">
    <div *ngFor="let car of carServivedImage" class="col mt-3 ml-3 border">
      <img src="{{ car.Image }}" class="img-fluid" />
    </div>
  </div>

  <hr />

  <!-- start  -->
  <div class="row">
    <div class="col-md-4 mt-5">
      <div class="row">
        <div class="col-md-2">
          <i class="fas fa-globe-europe" style="font-size: 30px; color: #ff5722;"></i>
        </div>
        <div class="col-md-10">
          <div style="
              font-weight: 700;
              line-height: 22px;
              font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
                Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
            ">
            Worldwide Coverage
          </div>
          <div style="
              font-size: 12px;
              color: #666;
              line-height: 1.5;
              font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
                Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
            ">
            Get to your destination in 8200+ cities across 140+ countries and
            regions with 400+ suppliers
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-5">
      <div class="row">
        <div class="col-md-2">
          <i class="fas fa-award" style="color: #ff5722; font-size: 30px;"></i>
        </div>
        <div class="col-md-10">
          <div style="
              font-weight: 700;
              line-height: 22px;
              font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
                Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
            ">
            Top Brands at Competitive Prices
          </div>
          <div style="
              font-size: 12px;
              color: #666;
              line-height: 1.5;
              font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
                Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
            ">
            Choose from a wide selection of affordable cars from your preferred
            brands
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-5">
      <div class="row">
        <div class="col-md-2">
          <i class="fas fa-language" style="color: #ff5722; font-size: 30px;"></i>
        </div>
        <div class="col-md-10">
          <div style="
              font-weight: 700;
              line-height: 22px;
              font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
                Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
            ">
            Multi-Language Customer Service
          </div>
          <div style="
              font-size: 12px;
              color: #666;
              line-height: 1.5;
              font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
                Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
            ">
            Reach out to our reliable help line at any time of the day FAQs
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- start FAQS Section -->
  <div class="mt-5 mb-4">
    <h2 style="
        font-size: 28px;
        line-height: 30px;
        font-weight: 700;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
          Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
      ">
      FAQS
    </h2>

    <hr class="mb-5 mt-5" />

    <h2 (click)="isCollapsed1 = !isCollapsed1" [attr.aria-expanded]="!isCollapsed1" aria-controls="navbarContent"
      aria-expanded="false" style="
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        color: #212121;
        cursor: pointer;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
          Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
      ">
      What payment options are accepted?
      <i class="fas fa-chevron-down float-right"></i>
    </h2>

    <div class="collapse" [ngbCollapse]="isCollapsed1">
      You can book your car using most credit cards and a few debit cards. You
      will be informed about the payment options that are accepted while you're
      booking. It is strongly suggested to fulfill the payment with a credit
      card in the name of the lead driver. If your reservation is paid by
      someone other than the lead driver, you may need to present supplementary
      documents when the booking is reviewed for some security reasons. However,
      you don't have to use the same card to book your rental car on Klook and
      pay the deposit at the counter desk. IMPORTANT NOTE: When you pick up your
      car at the counter, a valid credit card in the name of the lead driver
      must be presented at the rental desk to pre-authorize or charge the
      deposit. The credit card(s) must be embossed and a PIN number may be
      required. In case you fail to present a valid credit card, there is a lack
      of sufficient funds available on the credit card, or the credit card is
      not in the lead driver's name, the car rental agent may refuse to release
      the vehicle. In these instances, no refunds can be made.
    </div>
    <!-- ------------------------------------------------------------------------------------------------------------ -->
    <hr class="mb-5 mt-5" />

    <h2 class="h2toggle" (click)="isCollapsed2 = !isCollapsed2" [attr.aria-expanded]="!isCollapsed2"
      aria-controls="navbarContent" aria-expanded="false" style="
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        color: #212121;
        cursor: pointer;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
          Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
      ">
      Where can I find my rental car's insurance coverage?
      <i class="fas fa-chevron-down float-right"></i>
    </h2>
    <div class="collapse" [ngbCollapse]="isCollapsed2">
      The details of your rental car's insurance coverage can be viewed upon
      booking and on the day of pick up.
    </div>
    <hr class="mb-5 mt-5" />

    <!-- -------------------------------------------------------------------------------------------------------- -->
    <h2 class="h2toggle" (click)="isCollapsed3 = !isCollapsed3" [attr.aria-expanded]="!isCollapsed2"
      aria-controls="navbarContent" aria-expanded="false" style="
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        color: #212121;
        cursor: pointer;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
          Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
      ">
      What do I need to bring when picking up the car?
      <i class="fas fa-chevron-down float-right"></i>
    </h2>
    <div class="collapse" [ngbCollapse]="isCollapsed3">
      When picking up your car, you'll need: (1) Driver's License: The main
      driver's license needs to have been held for at least 1 or 2 years
      (depending on the rental company's policy). Additional drivers must also
      present their driver's license. If your driver's license is not written
      using English characters (i.e. if it is in Arabic, Greek, Russian or
      Chinese), you must bring an International Driving Permit along with your
      original license. For more information, please refer to the Terms and
      Conditions at the time of booking. (2) Credit Card: A valid credit card in
      the name of the main driver and with sufficient funds must be presented at
      the rental desk to pre-authorize or charge the deposit. (3) Valid ID: A
      valid photo ID (passport or national ID) or any other forms of
      identification must be presented to the car rental company. (4) Printed
      Voucher: A printed version of your voucher must be presented when you pick
      up your car. Failure to present it may incur an additional charge.
      IMPORTANT NOTE: Payments for any additional drivers and extra equipment
      need to be settled when you arrive to pick up the car. Please bear those
      costs in mind when using your credit card. If you fail to present a valid
      credit card, or there is a lack of sufficient funds available on the
      credit card, or the credit card is not in the main driver's name, the
      staff may refuse to release the car. In these instances, no refunds can be
      made.
    </div>
    <hr class="mb-5 mt-5" />

    <!-- -------------------------------------------------------------------------------------------------------- -->
    <h2 (click)="isCollapsed4 = !isCollapsed4" [attr.aria-expanded]="!isCollapsed4" aria-controls="navbarContent"
      aria-expanded="false" style="
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        color: #212121;
        cursor: pointer;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
          Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
      ">
      What is the cancellation policy?
      <i class="fas fa-chevron-down float-right"></i>
    </h2>
    <div class="collapse" [ngbCollapse]="isCollapsed4">
      In most cases, you will receive a full refund as long as you cancel the
      booking before pick up. However, some suppliers may offer free
      cancellation up to a certain hour before pick up. If you cancel past the
      free cancellation period, you'll receive a refund less than the full
      prepaid amount or no refund at all. If you cancel after your rental is due
      to start, no refunds will be given. If you do not pick up the car (usually
      counted as a 'no-show'), no refunds will be given. Car rental companies
      call it a 'no-show' when you do not pick the car up (e.g. you do not
      arrive at the arranged date and time, you do not have the right documents,
      you're not eligible for the rental, or the main driver does not have a
      credit card with enough credit for the deposit.) Some car rental companies
      may have their own cancellation policy, which you'll find in the Terms and
      Conditions of your booking.
    </div>
    <!-- -------------------------------------------------------------------------------------------------------------- -->
    <hr class="mb-5 mt-5" />
    <div class="mb-5" style="cursor: pointer; font-size: 16px; line-height: 19px;">
      View all FAQS
    </div>
  </div>
</div>

<!-- --------------------------------End section-------------------------------------------------------------------- -->
<!-- ---------------------------------------------------------------------------------------------------- -->
