<!-- Start cover -->
<div class="all">
  <div class="firstPart">
    <div class="cover">
      <div class="text text-center">
        <h1>{{ 'help.how' | translate }}</h1>
      </div>
    </div>
  </div>
  <div class="secondPart mt-5">
    <div class="h4">{{ 'participants.how' | translate }}</div>
    <div class="font-weight-bold mb-2 mt-4">
      {{ 'participants.add' | translate }}
    </div>
    <div class="mb-1">
      {{ 'participants.sorry' | translate }}
    </div>
    <div class="mb-2">
      {{ 'participants.refundable' | translate }}
    </div>
    <div class="font-weight-bold mb-2 mt-4">
      {{ 'participants.remove' | translate }}
    </div>
    <div class="mb-1">
      {{ 'participants.within free' | translate }}
    </div>
    <div>
      {{ 'participants.contact' | translate }}

    </div>
  </div>
</div>
